.paymentStatusContainer {
    display: flex;
    padding: auto;
    height: 100vh;
}

.statusCard {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--color-blackText);
    text-align: center;
    font-style: normal;
    line-height: normal;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 66px;
}

.description {
    font-size: 24px;
    font-weight: 700;
    margin-top: 48px;
}

.amount {
    font-size: 24px;
    font-weight: 700;
    margin-top: 32px;
}

.amount span {
    color: var(--color-seccondary);
    font-weight: 500;
    margin-left: 5px;
}

.buttonContainer,
.successButtonContainer {
    display: flex;
    flex-direction: row;
    margin-top: 82px !important;
}

.buttonContainer,
.successButtonContainer button {
    width: 200px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--color-red);
    color: var(--color-whiteText);
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px 10px;
}

.successButtonContainer button {
    background: var(--color-seccondary);
}

.statusIcon {
    height: 354px;
    width: 354px;
}

@media(max-width: 1680px) {
    .statusIcon {
        height: 254px;
        width: 254px;
    }

    .title {
        font-size: 32px;
        font-weight: 600;
    }

    .description {
        font-size: 20px;
        font-weight: 600;
    }

    .amount {
        font-size: 20px;
        font-weight: 600;
    }

    .amount span {
        font-weight: 400;
    }

    .buttonContainer,
    .successButtonContainer button {
        width: 150px;
        height: 38px;
        font-size: 20px;
        font-weight: 600;
    }
}

@media(max-width: 1440px) {
    .statusIcon {
        height: 254px;
        width: 254px;
    }

    .title {
        font-size: 32px;
        font-weight: 600;
    }

    .description {
        font-size: 20px;
        font-weight: 600;
    }

    .amount {
        font-size: 20px;
        font-weight: 600;
    }

    .amount span {
        font-weight: 400;
    }

    .buttonContainer,
    .successButtonContainer button {
        width: 150px;
        height: 38px;
        font-size: 20px;
        font-weight: 600;
    }
}

@media(max-width: 500px) {
    .statusIcon {
        height: 200px;
        width: 200px;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
    }

    .description {
        font-size: 16px;
        font-weight: 600;
    }

    .amount {
        font-size: 16px;
        font-weight: 600;
    }

    .amount span {
        font-weight: 400;
    }

    .buttonContainer,
    .successButtonContainer button {
        width: 100px;
        height: 31px;
        font-size: 16px;
        font-weight: 600;
    }
}