.popOverCard {
    display: flex;
    flex-direction: column;
    background-color: var(--color-navyBlue);
    padding-top: 4px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.popOver {
    height: 0px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    right: 0px;
    left: 0px;
    bottom: 74px;
    max-height: fit-content;
}


.menuItemCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-whiteText);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 16px 14px 16px 40px;
    text-decoration: none !important;
    cursor: pointer;
}

.menuItemCard:hover {
    background-color: var(--color-primary);
}

.logOutButton {
    flex-direction: row;
    justify-content: left !important;
    color: var(--color-whiteText);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 16px 14px 16px 40px;
    text-decoration: none !important;
    cursor: pointer;
    border-top: solid 1px #626E7E;
    border-radius: 0px !important;
}

.logOutButton:hover {
    background-color: var(--color-primary);
}


.exitIcon {
    font-size: 25px;
    margin-right: 18px;
}

@media(max-width: 1680px) {

    .popOver {
        bottom: 50px;
    }
}

@media(max-width: 500px) {

    .popOver {
        bottom: 42px;
        width: 0px;
    }

    .menuItemCard {
        font-size: 16px;
        padding: 10px 15px;
        min-width: 170px !important;
    }

    .logOutButton {
        font-size: 16px;
        padding: 10px 15px;
        min-width: 170px !important;
    }

    .exitIcon {
        font-size: 20px;
        margin-right: 12px;
    }
}