.section5Background {
    position: relative;
    min-height: 100vh;
    background-color: #F3F3F3;
    overflow-x: hidden !important;
    z-index: -1;
}

.hands {
    position: absolute;
    right: -110px;
    top: -60px;
    /* z-index: -1; */
    width: 660px;
    height: 371px;
    flex-shrink: 0;
}

.topBackground {
    position: absolute;
    left: 0px;
    top: -100px;
}


@media(max-width: 500px) {
    .hands {
        display: none;
    }

    .section5Background {
        min-height: fit-content;
    }
}