#list-roll-down {
    height: 0px;
    transition: all .2s;
    opacity: 0;
}

#list-roll-down.is-active {
    background-color: #132740;
    height: fit-content;
    border-radius: 8px;
    width: 98%;
    color: #F3F3F3;
    position: absolute;
    top: 40px;
    right: 1%;
    z-index: 2;
    left: 1%;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.category2 {
    display: flex;
    flex-direction: column;
}

.category2>a {
    height: 50px;
}

.items2 {
    border: 1px solid white;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
}

.subCategory {
    flex-direction: column;
    background-color: darkslategrey;
    display: flex;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.7s ease
}

.subCategory>a {
    color: white;
    text-decoration: none;
}

.active {
    max-height: 400px;
}