.topLeftBackground {
    height: 357px;
    width: 427.75px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.dashboardBackground {
    min-height: 100vh;
    overflow: hidden !important;
    overflow-x: hidden !important;
    padding: 217px 75px 86px 83px;
}

.topLeft2Background {
    height: 357px;
    width: 427.75px;
    position: absolute;
    top: 100px;
    left: -250px;
    z-index: -1;
}

.leftCenterBackground {
    height: 377px;
    width: 377px;
    position: absolute;
    top: 143px;
    left: 0px;
    z-index: -1;
}

.bottomCenterBack {
    position: absolute;
    top: 300px;
    left: 0px;
    z-index: -1;
    width: 462.14px;
    height: 401.95px;
}

.leftBottomBack {
    position: absolute;
    top: 300px;
    left: 0px;
    z-index: -1;
    width: 462.14px;
    height: 401.95px
}

.bottomLeftBack {
    position: absolute;
    /* top: 140%; */
    left: 0px;
    bottom: -200px;
    z-index: -1;
    width: 249px;
    height: 249px
}

.rightCenterBack {
    position: absolute;
    top: 300px;
    right: -100px;
    z-index: -1;
    height: 357px;
    width: 427.75px;
}