.featuresBackground {
    min-height: 100vh;
    overflow: hidden !important;
    overflow-x: hidden !important;
    position: relative;
    padding: 217px 156px 129px 156px;
    background-color: #F3F3F3 !important;
    /* background-color: rgb(238, 237, 237) !important; */
}

.featuresDetailsBackground {
    min-height: 100vh;
    overflow: hidden !important;
    overflow-x: hidden !important;
    /* background-color: var(--color-background); */
    position: relative;
}

.rightTopBackground {
    height: 183px;
    width: 386px;
    position: absolute;
    top: 100px;
    right: -40px;
    z-index: -1;
}

.rightTop3Background {
    height: 183px;
    width: 386px;
    position: absolute;
    top: 0px;
    right: -50px;
    z-index: -1;
}

.rightTop2Background {
    height: 347px;
    width: 372px;
    position: absolute;
    top: 80px;
    right: -70px;
    z-index: -1;
}

.leftTopBackground {
    height: 293px;
    width: 489px;
    position: absolute;
    top: 70px;
    left: -40px;
    z-index: -1;
}

.leftTop2Background {
    height: 296px;
    width: 346px;
    position: absolute;
    top: 64px;
    left: 174px;
    z-index: -1;
    transform: matrix(0.99, 0.15, -0.17, 0.99, 0, 0);
}

.leftTop3Background {
    height: 296px;
    width: 346px;
    position: absolute;
    top: 174px;
    left: 154px;
    z-index: -1;
    transform: matrix(0.99, 0.15, -0.17, 0.99, 0, 0);
}

.leftCenterBackground {
    height: 449.02px;
    width: 378.08px;
    position: absolute;
    top: 254px;
    left: -40px;
    z-index: -1;
}

.leftCenter2Background {
    height: 449.02px;
    width: 378.08px;
    position: absolute;
    top: 170px;
    left: 0px;
    z-index: -1;
}

.centerBackground {
    height: 357px;
    width: 427.75px;
    position: absolute;
    top: 507px;
    right: 690px;
    z-index: -1;
}

.center2Background {
    height: 546.45px;
    width: 205.58px;
    position: absolute;
    top: 740px;
    right: 500px;
    transform: rotate(-95.31deg);
    z-index: -1;
}

.leftBottomBackground {
    height: 188.38px;
    width: 326.61px;
    position: absolute;
    top: 500px;
    left: -55px;
    z-index: -1;
}

@media(max-width: 1620px) {
    .featuresBackground {
        padding: 157px 0px 129px 0px;
    }
}

@media(max-width: 1440px) {
    .featuresBackground {
        padding: 157px 0px 129px 0px;
    }
}

@media(max-width: 992px) {
    .featuresBackground {
        padding: 157px 90px 129px 90px;
    }
}

@media(max-width: 480px) {
    .mobile {
        display: none;
    }

    .featuresBackground {
        background: #FDEFF0;
        background: linear-gradient(135deg, #FDEFF0, #FFFFFF);
        padding: 50px 45px 15px 45px;
    }
}