.formSectionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-bottom: 20px; */
}

.formSectionTitle {
    text-align: right;
    display: flex;
    font-size: 11px;
    align-self: flex-start;
    margin-bottom: 5px;
    align-items: center;
    color: var(--color-blackTitle);
    font-weight: bold;
}

.formSectionInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-width: 0px;
}

.formSectionInput input {
    border: none !important;
    font-size: 18px !important;
    font-weight: 275px !important;
    transition: 0s border;
    height: 46px;
    background-color: var(--color-background);
    color: var(--color-blackText) !important;
    border: solid 1px var(--color-primary) !important;
    padding: 0px 10px;
    border-radius: 10px;
}

.formSectionInputError {}

.formSectionInputError input {
    border: solid 1px #DA282E !important;
}

.formSectionInputError textarea {
    border: solid 1px #DA282E !important;
}


.formSectionInput input:focus {
    outline: none !important;
    /* border: none !important;
    border: 0px !important; */
    border: solid 1px var(--color-darkGray) !important;
    transition: .4s;
}

.formSectionInput textarea {
    border: none !important;
    font-size: 20px !important;
    transition: 0s border;
    min-height: 250px;
    background-color: var(--color-background) !important;
    color: var(--color-blackText) !important;
    border: solid 1px var(--color-seccondary) !important;
    padding: 10px !important;
    resize: none;
    line-height: 180% !important;
}

.formSectionInput textarea:focus {
    outline: none !important;
    border: solid 1px var(--color-darkGray) !important;
    transition: .4s;
}

.errorForm {
    width: 100%;
    font-size: 9px;
    margin-top: 15px;
    text-align: left;
    color: #DA282E !important;
    background-color: #F3E7E7;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    padding: 15px 3px;
}

.secondErrorForm {
    margin-top: 5px;
    text-align: left;
    color: #DA282E !important;
    font-size: 15px;
}

@media(max-width: 1440px) {
    .formSectionInput textarea {
        font-size: 16px !important;
    }

    .formSectionInput input {
        font-size: 16px !important;
    }

    .formSectionInput textarea::placeholder {
        font-size: 16px !important;
    }

    .formSectionInput input::placeholder {
        font-size: 16px !important;
    }
}

@media(max-width: 480px) {
    .formSectionInput textarea {
        font-size: 14px !important;
    }

    .formSectionInput input {
        font-size: 14px !important;
    }

    .formSectionInput textarea::placeholder {
        font-size: 14px !important;
    }

    .formSectionInput input ::placeholder {
        font-size: 14px !important;
    }
}