.signInPageContainer {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-height: 100vh !important;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

.signInLeftContainer {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}

.signInrightContainer {
    min-height: 100vh;
    height: 100% !important;
    background-color: var(--color-seccondary);
    position: relative;
}

.circle1 {
    background-color: var(--color-primary);
    height: 243px;
    width: 243px;
    border-radius: 100%;
    position: absolute;
    top: 181px;
    right: 57px;
}

.circle2 {
    position: absolute;
    width: 376px;
    height: 376px;
    right: 208px;
    border-radius: 100%;
    background-color: var(--color-background);
    top: 251px;
    z-index: 1;
}

.circle3 {
    background-color: var(--color-primary);
    width: 376px;
    height: 376px;
    border-radius: 100%;
    position: absolute;
    top: 297px;
    right: 179px;
    z-index: 0;
}

.circle4 {
    position: absolute;
    width: 207px;
    height: 207px;
    right: 57px;
    border-radius: 100%;
    background-color: var(--color-background);
    top: 610px;
}

.circle5 {
    background-color: var(--color-primary);
    width: 243px;
    height: 243px;
    border-radius: 100%;
    position: absolute;
    top: -121px;
    right: 379px;
    z-index: 0;
}

.logo {
    height: 16px;
    width: 151px;
}

.title {
    margin-top: 118px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 12px;
    color: var(--color-seccondary);
    margin-bottom: 114px;
}

.stepContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    flex: 1;
}

.signInOptionsbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    width: 360px;
    justify-content: center;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

.googleSingInCard {
    border-color: Gray/300;
    border-width: 1px;
    border-style: solid;
    color: #344054;
}

.faceBookSingInCard {
    color: var(--color-whiteText);
    border: solid 1px #1877F2;
    background-color: #1877F2;
}

.appleSingInCard {
    color: var(--color-whiteText);
    border: solid 1px #000000;
    background-color: #000000;
}

.signInOptionsIcon {
    margin-right: 12px;
    font-size: 24px;
}

.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    width: 360px !important;
    background-color: #1877F2;
}

.emailButton {
    color: var(--color-whiteText);
    background-color: var(--color-seccondary);
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
}

.footerText {
    margin-top: auto !important;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: var(--color-seccondary);
    margin-bottom: 26px;
}

.footerText a {
    text-decoration: underline !important;
    font-weight: 500px !important;
    cursor: pointer !important;
}

.emailInput {
    width: 360px;
}

.emailInput input {
    height: 69px !important;
    border-width: 1px !important;
    border-color: var(--color-primary) !important;
    border-style: solid !important;
    border: solid 1px var(--color-primary) !important;
}

.inputEmailTitle {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}

.submitEmailButton {
    margin-top: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 12px;
    color: var(--color-whiteText);
    background-color: var(--color-seccondary);
    width: 360px;
    padding: 20px 0px;
    border-radius: 15px !important;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
}

.step2ButtonContaier {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 360px;
}

.nameInput {
    width: 451px;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    margin-bottom: 39px;
}

.nameInput input {
    height: 71px !important;
}

.ageAndGenderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.datePicker {
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    margin-top: 10px !important;
    border-radius: 10px !important;
    border: 1px solid #2E4057 !important;
    width: 204px !important;
    height: 71px !important;
}

.datePicker:focus {
    border: none !important;
}

.select {
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    margin-top: 10px !important;
    border-radius: 10px !important;
    border: 1px solid #2E4057 !important;
    width: 210px !important;
    height: 71px !important;
}

.step4ButtonContainer {
    display: flex;
    flex-direction: column;
    width: 360px;
    flex: 1;
    margin-top: 30px;
}

.skipButton {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 12px;
    color: var(--color-seccondary);
    border: solid 1px var(--color-seccondary);
    background-color: var(--color-background);
    width: 360px;
    padding: 20px 0px;
    border-radius: 15px !important;
}

.pagination {
    margin-top: 40px;
}

@media(max-width: 1440px) {
    .circle1 {
        height: 223px;
        width: 223px;
    }

    .circle2 {
        height: 356px;
        width: 356px;
    }

    .circle2 {
        height: 356px;
        width: 356px;
    }

    .circle4 {
        height: 187px;
        width: 187px;
    }

    .circle5 {
        height: 223px;
        width: 223px;
        top: -111px;
    }

    .title {
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .select {
        width: 190px;
    }

    .datePicker {
        width: 190px;
    }
}

@media(max-width: 992px) {
    .circle1 {
        height: 223px;
        width: 223px;
    }

    .circle2 {
        height: 356px;
        width: 356px;
    }

    .circle2 {
        height: 356px;
        width: 356px;
    }

    .circle4 {
        height: 187px;
        width: 187px;
    }

    .circle5 {
        height: 223px;
        width: 223px;
        top: -111px;
    }

    .title {
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .select {
        width: 190px;
    }

    .datePicker {
        width: 190px;
    }
}

@media(max-height: 900px) {
    .circle1 {
        height: 223px;
        width: 223px;
    }

    .circle2 {
        height: 356px;
        width: 356px;
    }

    .circle2 {
        height: 356px;
        width: 356px;
    }

    .circle4 {
        height: 187px;
        width: 187px;
    }

    .circle5 {
        height: 223px;
        width: 223px;
        top: -111px;
    }

    .title {
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .select {
        width: 190px;
    }

    .datePicker {
        width: 190px;
    }
}