.signInPageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url('/signIn/background.svg');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    width: 183px !important;
    height: 24px !important;
    position: absolute;
    top: 66px;
    left: 70px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.title {
    font-style: normal;
    line-height: 12px;
    color: var(--color-seccondary);
    margin-bottom: 82px;
}

.subtitle {
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-lato);
    font-size: 20px;
    font-style: normal;
    margin-bottom: 38px;
    font-weight: 300;
}

.subtitle span {
    font-weight: 700;
}

.signInOptionsbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 0px;
    width: 360px;
    height: 44px;
    justify-content: center;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}


.submitEmailButton {
    margin-top: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 12px;
    color: var(--color-whiteText);
    background-color: var(--color-seccondary) !important;
    width: 360px;
    height: 54px;
    padding: 0px !important;
    border-radius: 8px !important;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
}

.googleSingInCard {
    border: 1px solid var(--gray-300, #D0D5DD) !important;
    color: #344054;
}

.faceBookSingInCard {
    color: var(--color-whiteText);
    border: solid 1px #1877F2;
    background-color: #1877F2;
}

.appleSingInCard {
    color: var(--color-whiteText);
    border: solid 1px #000000;
    background-color: #000000;
}

.signInOptionsIcon {
    margin-right: 12px;
    font-size: 24px;
}

.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    width: 360px !important;
    background-color: #1877F2;
}

.emailButton {
    color: var(--color-whiteText);
    background-color: var(--color-seccondary);
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
}

.footerText {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: var(--color-seccondary);
    margin-top: 48px;
}

.footerText a {
    text-decoration: underline !important;
    font-weight: 500px !important;
    cursor: pointer !important;
}

.emailInput {
    width: 360px;
}

.emailInput input {
    height: 64px !important;
    border-width: 1px !important;
    border-color: var(--color-primary) !important;
    border-style: solid !important;
    border: solid 1px var(--color-primary) !important;
    background-color: transparent !important;
}

.inputCard {
    height: fit-content;
    position: relative;
    max-width: 360px;
}

.inputEmailTitle {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    z-index: 2;
    position: absolute;
    left: 17px;
    top: -15px;
    background-color: #F3F3F3;
    padding: 0px 2px;

}

.progressBar {
    height: 8px;
    width: 100% !important;
    background-color: rgba(46, 64, 87, 0.40);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10 !important;
    position: relative;
    margin-bottom: 32px;
}

.buttonsCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    max-width: 360px;
    justify-content: space-between;
    width: 100%;
}

.buttonsCard button {
    margin: 0px !important;
    height: 48px;
    width: fit-content;
    padding: 0px;
    text-align: center;
    font-size: 24px;
    background-color: var(--color-seccondary);
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: var(--color-whiteText);
    padding: 0px 12px;
}

.prossessBar {
    height: 8px !important;
    background-color: #2E4057;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


@media(max-width: 1680px) {

    .title {
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .select {
        width: 190px;
    }

    .datePicker {
        width: 190px;
    }
}

@media(max-width: 1440px) {


    .title {
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .select {
        width: 190px;
    }

    .datePicker {
        width: 190px;
    }
}

@media(max-width: 992px) {


    .title {
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .select {
        width: 190px;
    }

    .datePicker {
        width: 190px;
    }
}

@media(max-height: 900px) {


    .title {
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .select {
        width: 190px;
    }

    .datePicker {
        width: 190px;
    }
}

@media(max-width: 500px) {
    .signInrightContainer {
        display: none;
    }

    .signInLeftContainer {
        padding: 57px 23px 65px 23px;
        height: fit-content;
        background: var(--color-background);
        background: linear-gradient(360deg, rgb(246, 229, 230), #e5edf4, #FFF) !important;
    }

    .signInOptionsbutton {
        width: 210px;
        font-size: 12px !important;
        justify-content: flex-start;
        padding-left: 13px;
        line-height: 24px;
        height: 38px;
    }

    .title {
        font-size: 24px;
        margin-top: 0px;
        position: relative;
        top: -6px;
    }

    .emailButton {
        font-size: 12px;
        line-height: 12px;
        height: 38px;
    }

    .submitEmailButton {
        font-size: 12px;
        line-height: 12px;
        height: 38px;
        width: 210px;
        margin-top: 14px;
        border-radius: 8px !important;
        margin-bottom: 0px;
    }

    .footerText {
        font-size: 10px;
    }

    .emailInput {
        width: 210px;
    }

    .emailInput input {
        height: 38px !important;
        border-color: Gray/300 !important;
        border: solid 1px Gray/300 !important;
        border-radius: 8px !important;
    }

    .inputEmailTitle {
        font-size: 12px;
    }

    .pagination {
        display: none !important;
    }
}