.emailInput input {
    height: 64px !important;
    background-color: transparent !important;
}

@media(max-width: 500px) {
    .emailInput input {
        width: 247px !important;
        height: 44px !important;
    }
}