.headerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    z-index: 10;
    padding: 0px 97px 0px 97px;
    height: 120px;
    position: relative;
    /* background-color: aqua; */
}

.headerContainer{
    position: fixed;
    top: 0px;
    height: 120px;
    z-index: 10 !important;
}

.headerBackground {
    /* width: 1840px;
    height: 184px; */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.headerShadow {
    position: absolute;
    top: -60px;
    left: 0px;
    right: 0px;
    z-index: -1 !important;
}

.headerItem {
    color: var(--color-seccondary);
    text-decoration: none;
    line-height: 28px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    margin-right: 40px;
    cursor: pointer;
}

.headerItemsContainer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 100%;
    align-items: center;
}

.searchInput {
    width: 242px;
    margin: 0px 15px 0px 24px;
}

.headerLogo {
    margin-right: 38px;
}

@media(max-width: 1440px){
    .headerCard{
        padding: 0px 50px;
    }

    .headerItem{
        margin-right: 20px;
    }
}

@media(max-width: 992px){
    .headerCard{
        padding: 0px 50px;
    }

    .headerItem{
        margin-right: 20px;
    }
}