.headerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    z-index: 10;
    padding: 0px 97px 0px 97px;
    height: 142px;
    position: relative;
}

.header {
    position: fixed;
    top: 0px;
    height: 145px;
    z-index: 9 !important;
}

.headerContainer {
    position: fixed;
    top: 0px;
    height: 142px;
    z-index: 10 !important;
    background-color: #FDFDFD;
    align-items: center;
}

.blackShadow {
    box-shadow: -1px 7px 13px -7px rgba(181, 178, 178, 0.75);
    -webkit-box-shadow: -1px 7px 13px -7px rgba(181, 178, 178, 0.75);
    -moz-box-shadow: -1px 7px 13px -7px rgba(181, 178, 178, 0.75);
}

.lightShadow {
    box-shadow: -1px 13px 0px 3px rgba(243, 243, 243, 0.17);
    -webkit-box-shadow: -1px 13px 0px 3px rgba(243, 243, 243, 0.17);
}

.headerItem {
    color: var(--color-seccondary);
    text-decoration: none;
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-right: 40px;
    cursor: pointer;
}

.headerItemsContainer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 142px;
    align-items: center;
}

.searchInput {
    width: 242px;
    margin: 0px 15px 0px 24px;
}

.headerLogo {
    margin-right: 38px;
    width: 185px;
    height: 15px;
}

.responsiveChatButton {
    background: linear-gradient(210deg, rgb(46, 64, 87) 0%, rgb(218, 40, 46) 100%);
    padding: 6px !important;
    display: none;
    border-radius: 100% !important;
}


.responsiveMenuIcon {
    font-size: 30px;
    color: #fff;
    display: none;
}

.responsiveLogo {
    display: none;
}

@media(max-width: 1440px) {
    .headerCard {
        height: 100px;
        padding: 0px 50px;
    }

    .headerItem {
        margin-right: 25px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }

    .headerContainer {
        height: 100px;
    }


    .headerItemsContainer {
        height: 100px;
    }

    .headerLogo {
        /* height: 8px;
        width: 98px; */
        margin-right: 10px;
    }

}

@media(max-width: 992px) {
    .headerCard {
        padding: 0px 50px;
    }

    .headerItem {
        margin-right: 20px;
    }


}

@media(max-width: 480px) {

    .headerCard {
        display: none;
    }

    .headerContainer {
        background-color: var(--color-seccondary);
        height: 45px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 15px;
    }

    .responsiveChatButton {
        display: flex;
    }

    .responsiveMenuIcon {
        display: flex;
    }

    .responsiveLogo {
        display: flex;
    }

}