.featuresContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 140px 0px 130px 0px;
    justify-content: space-between;
}

.leftCard {
    display: flex;
    flex-direction: column;
    padding-left: 87px;
    width: max-content !important;
    max-width: 60%;
    padding-right: 30px;
}

.titleIcon,
.activeTitleIcon {
    margin-right: 16px;
}

.titleIcon {
    height: 50px;
    width: 50px;
}

.activeTitleIcon {
    height: 70px;
    width: 70px;
}

.titleCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 64px;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--font-lato);
    line-height: 133.023%;
    font-size: 32px;
    width: fit-content;
    padding-bottom: 8px;
}

.titleCard:hover {
    opacity: 1;
}

.activeTitleCard {
    border-bottom: solid 1px var(--color-seccondary);
    font-size: 48px !important;
}

.rightCard {
    color: var(--color-blackText);
    line-height: 42.6px;
    padding-right: 133px;
    max-width: 40%;
}

.mobileDescription{
    overflow: hidden;
    display: none !important;
    margin-top: 25px;
}

@media(max-width: 1680px) {}

@media(max-width: 500px) {
    .rightCard {
        display: none;
    }

    .leftCard {
        max-width: 100%;
        padding: 0px;
    }

    .mainContainer {
        padding: 80px 25px 100px 31px;

    }

    .titleCard {
        font-size: 16.134px;
        font-weight: 600;
        line-height: 133.023%;
        margin-top: 8px;
    }

    .activeTitleCard {
        font-size: 16.134px !important;
        font-weight: 600;
        line-height: 133.023%;
    }

    .titleIcon,
    .activeTitleIcon {
        height: 27px;
        width: 27px;
    }

    .mobileDescription{
        display: flex !important;
    }

}