.tasksContainer {
    height: 98% !important;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 14px;
}

.tasksContainer::-webkit-scrollbar {
    /* display: none; */
    width: 8px;
    background-color: #626E7E;
    border-radius: 33px;
}

.tasksContainer::-webkit-scrollbar-thumb {
    width: 13px;
    background-color: #F3F3F3;
    border-radius: 8px;
}


.taskCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 14px 20px 14px;
    cursor: pointer;
    background-color: #626E7E;
    border-radius: 8px;
    margin: 0px 0px 12px 8px !important;
}



.taskCardTitle {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    /* line-height: 16px; */
}

.taskCardTitle span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin-top: 20px;
    line-height: 12px;
}

.taskCardScore {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.deleteIcon {
    margin-left: 10px;
    font-size: 28px;
    cursor: pointer;
}

.deleteIcon:hover {
    font-size: 30px !important;
}

@media(max-width: 1440px) {
    .taskCard {
        padding: 16px 14px 20px 10px;
    }

    .taskCardTitle {
        font-size: 14px;
    }

    .taskCardTitle span {
        font-size: 12px !important;
    }

    .taskCardScore {
        font-size: 16px;
    }

    .deleteIcon {
        font-size: 20px;
        margin-left: 5px;
    }

    .deleteIcon:hover {
        font-size: 22px !important;
    }
}

@media(max-width: 500px) {
    .tasksContainer {
        padding: 0px 10px;
    }

    .taskCard {
        border-bottom: none;
        background: linear-gradient(111deg, #6B7787 0%, #132740 100%);
        /* background-color: #626E7E; */
        margin-bottom: 13px;
        border-radius: 8px;
        padding: 10px 10px 10px 15px;
    }

    .taskCardTitle {
        font-size: 16px;
        font-weight: 500;
    }

    .taskCardTitle span {
        font-size: 11px;
        font-weight: 300;
    }

    .taskCardScore {
        font-size: 20px;
    }

    .deleteIcon {
        font-size: 24px;
    }
}