.title {
    font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on, 'ss01' on, 'salt' on;
}

.section2carousel {
    display: flex;
    align-self: center;
    margin-top: 50px !important;
    margin-left: auto;
    margin-right: auto;
}

.stepCard {
    padding: 30px 108px 40px 63px;
    display: flex;
    flex-direction: column;
    color: var(--color-whiteText);
    margin-bottom: 60px;
    min-height: 380px;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
}

.stepCardtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 167.02%;
    text-align: justify;
    letter-spacing: -0.005em;
}

.stepCardSecondtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 167.02%;
    text-align: left;
    color: var(--color-whiteText);
}

.stepCardDescription {
    line-height: 36px;
    margin-top: 26px;
    letter-spacing: -0.005em;
    text-align: left;
}

.carouselCard {
    border-top: 2px solid rgba(255, 255, 255, 0.79);
    border-bottom: 2px solid rgba(255, 255, 255, 0.79);
}

@media(max-width: 500px) {

    .section2carousel {
        margin-top: 60px;
    }

    .stepCard {
        padding: 20px 30px 10px 30px;
        margin-bottom: 30px;
        min-height: 246px;
        justify-content: flex-start !important;
    }

    .stepCardSecondtitle {
        font-size: 20px;
        color: var(--color-whiteText);
        font-size: 19.061px;
        font-weight: 600;
        line-height: 23.826px;
        margin-top: 9px;
    }

    .stepCardDescription {
        margin-top: 18px;
    }

    .stepCardtitle {
        font-size: 13px !important;
        font-weight: 400;
    }

}