.section3Container {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    padding-left: 100px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-left: 150px;
}

.leftTitle {
    color: var(--color-seccondary);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.023%;
    letter-spacing: -0.16px;
}

.leftDescription {
    color: var(--color-blackText);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-top: 40px;
}

.featuresButton {
    color: var(--color-lightRed);
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0px !important;
    margin-top: 70px;
}

.featuresItemCard {
    width: 550px;
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
    align-items: center;
}

.featuresItemTitle {
    border-radius: 8px;
    border: 1px solid #FFF;
    background: linear-gradient(91deg, #F9F9F9 1.87%, rgba(255, 255, 255, 0.58) 41.79%, #ECEFF2 95.39%);
    padding: 15px 20px 15px 13px;
    color: var(--color-seccondary);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.2px;
    /* 130% */
}

.featuresItemIcon {
    min-width: 133px;
    width: fit-content !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
}


@media(max-width: 1440px) {
    .leftContainer {
        padding-left: 117px;
    }

    .leftTitle {
        font-size: 24px;
    }

    .leftDescription {
        font-size: 16px;
        line-height: 22.169px;
    }

    .featuresItemTitle {
        font-size: 16px;
    }

    .featuresItemCard {
        margin-bottom: 45px;
    }

    .rightContainer {
        padding-left: 60px;
    }

    .featuresItemTitle {
        font-size: 16px;
        font-weight: 700;
        line-height: 133.023%;
    }
}

@media(max-width: 992px) {}

@media(max-width: 480px) {
    .section3Container {
        flex-direction: column;
    }

    .rightContainer {
        padding: 0px;
        margin-top: 40px;
    }

    .leftContainer {
        padding: 0px;
    }

    .leftTitle {
        font-size: 24px;
    }

    .leftDescription {
        font-size: 13px;
        line-height: 26px;
    }

    .featuresItemCard {
        width: 278px;
    }

    .featuresItemTitle {
        font-size: 13px;
        padding: 15px 10px 15px 13px;
    }

}