.section7{
    min-height: 100vh;
    overflow: hidden !important;
    overflow-x: hidden !important;
    background-image: url('/landing/section7-background.svg');
}
.section7Container {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 150px 290px;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
}

.itemCard {
    color: var(--color-darkText);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.itemCard span {
    color: var(--color-red);
}

.itemContainer {
    max-width: 622px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-bottom: solid 1px #252525 !important;
}

.QuestionCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.answerCard {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 31.2px;
    margin-top: 16px;
    overflow: hidden !important;
}

.icon {
    cursor: pointer !important;
    margin-left: 30px;
}

.readMoreButton {
    color: #2E4057;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 50px;
    padding: 0px;
    align-items: center;
}

.itemContainer:last-of-type {
    border-bottom: none !important;
}

.QuestionIcon {
    font-size: 40px;
}

.arrowIcon {
    font-size: 26px;
    margin-top: 5px;
}

@media(max-width: 1680px) {
    .section7Container {
        padding: 150px 85px;
    }

    .itemCard {
        font-size: 16px;
        font-weight: 600;
    }

    .itemContainer {
        padding: 30px 0px;
    }

    .QuestionIcon {
        font-size: 24px;
    }

    .answerCard {
        font-size: 16px;
    }

    .readMoreButton {
        font-size: 16px;
        font-weight: 600;
    }

    .arrowIcon {
        font-size: 18px;
        margin-top: 5px;
    }

}

@media(max-width: 1440px) {
    .section7Container {
        padding: 150px 85px;
    }

    .itemCard {
        font-size: 16px;
        font-weight: 600;
    }

    .itemContainer {
        padding: 30px 0px;
    }

    .QuestionIcon {
        font-size: 24px;
    }

    .answerCard {
        font-size: 16px;
    }

    .readMoreButton {
        font-size: 16px;
        font-weight: 600;
    }

    .arrowIcon {
        font-size: 18px;
        margin-top: 5px;
    }

}

@media(max-width: 500px) {

    .arrowIcon {
        font-size: 16px;
    }

    .readMoreButton {
        font-size: 13px;
        align-self: center;
    }

    .QuestionIcon {
        font-size: 20px;
    }

    .section7Container {
        min-height: fit-content;
        padding: 40px 30px;
        flex-direction: column-reverse;
    }

    .itemContainer {
        padding: 20px 0px;
    }

    .itemCard {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }

    .answerCard {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }

    .itemContainer:last-of-type {
        border-bottom: solid 1px #252525 !important;
    }

}