.itemCard {
    color: var(--color-darkText);
    line-height: 40px;
    font-family: var(--font-lato);
}
.itemCard span {
    font-weight: 700 !important;
}
@media(max-width: 500px) {

    .itemCard {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }
}