.section6 {
    min-height: 100vh;
    background: linear-gradient(110deg, #172E4A 3.16%, #2E4057 102.08%);
    padding: 180px 180px 70px 100px;
    display: flex;
    flex-direction: column;
}

.title {
    color: #F3F3F3;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62.4px;
}

.description {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 18px;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;
}

.select {
    width: 298px;
    height: 42px;
    display: flex;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #626E7E;
    margin-top: 60px;
}

.selectItem {
    color: #F3F3F3;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loading {
    margin: auto;
}

.arrowContainer {
    height: 30px !important;
    width: 30px !important;
    padding-top: 0px;
    border-radius: 100%;
    border-radius: 65.448px;
    background: linear-gradient(141deg, #B5C0CE 0%, rgba(234, 234, 234, 0.20) 83.58%);
    filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowIcon {
    display: flex;
}

.mobileArrowIcon {
    display: flex;
    font-size: 30px;
    color: #172E4A;
}

.mobileCarousel {
    display: flex;
    align-self: center;
    margin-top: 50px !important;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

@media(max-width: 1680px) {
    .section6 {
        padding: 150px 82px 70px 90px;
    }

    .title {
        font-size: 32px;
        font-weight: 700;
        line-height: 76.806px;
        margin-left: 80px;
    }

    .description {
        margin-top: 16px;
        font-size: 20px;
        font-weight: 400;
        margin-left: 80px;
        line-height: 26px;
    }

    .select {
        width: 222.678px;
        height: 31.384px;
    }


    .selectItem {
        font-size: 16px;
    }
}

@media(max-width: 1440px) {
    .section6 {
        padding: 150px 82px 70px 90px;
    }

    .title {
        font-size: 32px;
        font-weight: 700;
        line-height: 76.806px;
        margin-left: 80px;
    }

    .description {
        margin-top: 16px;
        font-size: 20px;
        font-weight: 400;
        margin-left: 80px;
        line-height: 26px;
    }

    .select {
        width: 222.678px;
        height: 31.384px;
    }

    .selectItem {
        font-size: 16px;
    }

}

@media(max-width: 500px) {
    .section6 {
        padding: 77px 10px 39px 10px;
        min-height: fit-content;
    }

    .title {
        color: #F3F3F3;
        font-size: 20px;
        font-weight: 700;
        line-height: 20.8px;
        margin-left: 43px;
    }

    .description {
        font-size: 13px;
        font-weight: 400;
        line-height: 130%;
        margin-left: 43px;
        margin-top: 32px;
    }

    .select {
        margin-top: 40px;
        margin-right: 43px;
        width: 200px;
    }

    .selectItem {
        font-size: 13px;
    }

    .mainContainer {
        display: none;
    }

    .mobileCarousel {
        display: block;
    }
}