.section1Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 200px 0px 50px 0px;
    font-style: normal;
    min-height: 100vh;
}

.leftContainer {
    padding-right: 112px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.rightContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 230px;
}

.leftContainerBackground {
    position: absolute;
    width: 1001px;
    height: 1065px;
    display: none;
}

.rightContainerTitle {
    font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on, 'ss01' on, 'salt' on;
    font-size: 55px;
    font-weight: 800;
    line-height: 70.4px;
    letter-spacing: -0.32px;
    background: linear-gradient(91deg, #2E4057 -75.62%, #533346 -56.29%, #722838 -40.33%, #87212E -8.05%, #652C3D 35.85%, #4D3549 57.88%, #2E4057 85.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rightContainerDescription {
    margin-top: 52px;
    color: var(--color-blackText);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.2px;
    text-transform: capitalize;
}

.boldLetter {
    font-weight: 800 !important;
}

.rightContainerDescription span {
    font-weight: 700;
}

.rightContainerDescriptionItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--color-blackText);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.2px;
}

.rightContainerDescriptionItemIcon {
    font-size: medium !important;
    margin-right: 10px;
    margin-top: 10px;
}

.leftImageCard {
    position: relative;
    height: fit-content !important;
    width: fit-content !important;
}

.robot {
    width: 616px;
    height: 476px
}

.human {
    position: absolute;
    width: 338px;
    height: 488px;
    right: -3% !important;
    top: -3% !important;
}

.leftLogo {
    color: var(--color-whiteText);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    position: absolute;
    top: 17%;
    left: 35%;
}

.startButton {
    color: var(--color-whiteText);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    border-radius: 8px;
    border: 1px solid var(--color-red);
    background-color: var(--color-red) !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 16px 28px;
    margin-top: 80px;
}


@media(max-width: 1680px) {
    .section1Container {
        padding: 170px 0px 50px 0px;
    }

    .robot {
        width: 337px;
        height: 260px
    }

    .leftContainerBackground {
        right: 0px;
        top: -500px;
    }

    .human {
        position: absolute;
        width: 184px;
        height: 267px;
    }

    .leftLogo {
        font-size: 13px;
    }


    .rightContainer {
        padding-left: 116px;
    }

    .rightContainerTitle {
        font-size: 32px;
        line-height: 35.2px;
        letter-spacing: -0.16px;
    }

    .rightContainerDescription {
        font-size: 16px;
        line-height: 19.7px;
    }

    .rightContainerDescriptionItem {
        font-size: 16px;
        line-height: 20.8px;
    }

    .rightContainerDescriptionItemIcon {
        margin-top: 0px;
    }

    .startButton {
        width: 139px;
        padding: 0px !important;
        height: 56px;
        font-size: 20px;
        font-weight: 900;
        line-height: 40px;
        align-items: center;
        justify-content: center;
    }

}

@media(max-width: 1440px) {
    .section1Container {
        padding: 170px 0px 50px 0px;
    }

    .robot {
        width: 337px;
        height: 260px
    }

    .leftContainerBackground {
        right: 0px;
        top: -500px;
    }

    .human {
        position: absolute;
        width: 184px;
        height: 267px;
    }

    .leftLogo {
        font-size: 13px;
    }


    .rightContainer {
        padding-left: 116px;
    }

    .rightContainerTitle {
        font-size: 32px;
        line-height: 35.2px;
        letter-spacing: -0.16px;
    }

    .rightContainerDescription {
        font-size: 16px;
        line-height: 19.7px;
    }

    .rightContainerDescriptionItem {
        font-size: 16px;
        line-height: 20.8px;
    }

    .rightContainerDescriptionItemIcon {
        margin-top: 0px;
    }

    .startButton {
        width: 139px;
        padding: 0px !important;
        height: 56px;
        font-size: 20px;
        font-weight: 900;
        line-height: 40px;
        align-items: center;
        justify-content: center;
    }

}

@media(max-width: 992px) {
    .leftContainerCircle {
        height: 280px;
        width: 280px;
    }

    .rightContainerTitle {
        font-size: 38px;
    }

    .rightContainerDescription {
        font-size: 20px;
        margin-top: 40px;
    }

    .rightContainerDescription span {
        font-size: 21px;
    }

    .leftContainer {
        padding-right: 90px;
    }

    .rightContainerButton {
        font-size: 22px;
    }

}

@media(max-width: 500px) {

    .leftLogo {
        font-size: 10px;
    }

    .leftContainerBackground {
        z-index: unset;
        display: flex;
        top: -300px;
        right: 0px;
    }

    .leftContainer {
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
        height: fit-content;
        padding-top: 14px;
    }

    .robot {
        width: 253px;
        height: 196px;
        z-index: 2;
    }

    .human {
        width: 151px !important;
        height: 219px !important;
        z-index: 2;
        top: -10% !important;
    }

    .section1Container {
        flex-direction: column-reverse;
        padding: 100px 0px 50px 0px;
        min-height: fit-content;
    }

    .rightContainer {
        height: fit-content;
        padding: 0px 20px 0px 50px;
    }

    .rightContainerTitle {
        font-size: 24px;
        font-weight: 800;
        line-height: 26.4px;
        letter-spacing: -0.12px;
    }

    .rightContainerDescription {
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
    }

    .rightContainerDescriptionItem {
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
    }

    .rightContainerDescription span {
        font-weight: 500;
        font-size: 14px !important;
    }

    .boldLetter {
        font-weight: 600 !important;
    }

    .rightContainerDescriptionItemIcon {
        font-size: small !important;
    }

    .startButton {
        width: 100px;
        height: 42px;
        font-size: 13px;
        font-weight: 900;
        line-height: 40px;
    }

}