.section4Container {
    background: linear-gradient(110deg, #172E4A 3.16%, #2E4057 102.08%);
    min-height: 100vh !important;
    width: 100vw;
    overflow-x: hidden;
    padding: 250px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.title {
    color: #EAEFF6;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 61.5px;
    margin-left: 280px;
}

.description {
    color: #F3F3F3;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    margin-left: 280px;
    margin-top: 48px;
}

.button {
    width: 415px;
    height: 71px;
    border-radius: 8px;
    border: 0.5px solid #F3F3F3;
    background: #626E7E;
    align-items: center;
    justify-content: center;
    margin-left: 280px;
    color: #EAEFF6;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.5px;
    margin-top: 60px;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    flex: 1;
    padding-right: 110px;
    align-items: flex-end;
}

.step1 {
    width: 340px;
    position: relative;
    height: 50vh !important;
}

.flagIcon {
    font-size: 70px;
    position: absolute;
    top: -63px;
    right: 100px;
    color: #F3F3F3 !important;
}

.step2 {
    width: 340px;
    position: relative;
    min-height: 43vh !important;
    height: fit-content;
}

.step2TopCard {
    border-top: solid 1px #F3F3F3;
    height: 7vh;
    border-left: solid 1px #F3F3F3;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
}

.step3 {
    width: 340px;
    position: relative;
    height: 36vh !important;
}

.step4 {
    width: 340px;
    position: relative;
    height: 29vh !important;
}

.step5 {
    flex: 1;
    position: relative;
    height: 22vh !important;
    border-top: solid 1px #F3F3F3;
}

.stepTitle {
    color: #F3F3F3;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.5px;
    position: absolute;
    top: -60px;
    white-space: nowrap;
    right: 13px;
    cursor: pointer;
}

.stepTitle span {
    color: rgba(243, 243, 243, 0.50);
}