.section2Container {
    overflow: hidden !important;
    overflow-x: hidden !important;
    background-image: url('/landing/section2-background.svg');
    padding: 180px 119px 40px 169px;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 167.02%;
    color: var(--color-whiteText);
}

.secondTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 167.02%;
    color: var(--color-whiteText);
}

.description {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 130.52%;
    color: var(--color-whiteText);
    letter-spacing: 0.005em;
}

.section2carousel {
    display: flex;
    align-self: center;
    margin-top: 50px !important;
    margin-left: auto;
    margin-right: auto;
}

.stepCard {
    border: 2px solid #FFF;
    background: radial-gradient(306.82% 139.09% at -0.18% 2.78%, rgba(255, 255, 255, 0.75) 0%, rgba(251, 251, 251, 0.84) 16.35%, rgba(247, 247, 247, 0.79) 33.09%, rgba(246, 246, 246, 0.86) 44.92%, rgba(243, 243, 243, 0.80) 60.94%, rgba(246, 246, 246, 0.79) 81.34%, #FFF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 82, 147, 0.30);
    border-radius: 8px;
    padding: 30px 108px 40px 63px;
    display: flex;
    flex-direction: column;
    min-width: 633px;
    margin-bottom: 60px;
    margin-right: 100px;
    margin-left: 100px;
    min-height: 380px;
    justify-content: center;
}

.stepCardtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 167.02%;
    text-align: justify;
    letter-spacing: -0.005em;
}

.stepCardSecondtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 167.02%;
    text-align: justify;
    letter-spacing: -0.005em;
    color: var(--color-primary);
}

.stepCardDescription {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 167.02%;
    margin-top: 26px;
    letter-spacing: -0.005em;
    text-align: left;
}

.arrowContainer {
    height: 65px;
    width: 65px;
    border-radius: 100%;
    border-radius: 65.448px;
    background: linear-gradient(141deg, #B5C0CE 0%, rgba(234, 234, 234, 0.20) 83.58%);
    filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
}

.arrowIcon {
    display: flex;
}

.mobileArrowIcon {
    display: none;
    font-size: 30px;
    color: #172E4A;
}

.boldLetter {
    font-weight: 400 !important;
}

.arrowCard{
    z-index: 3;
}

@media(max-width: 1680px) {

    .arrowContainer {
        height: 50px !important;
        width: 50px !important;
    }

    .stepCardDescription {
        font-size: 16px;
    }

    .stepCardtitle {
        font-size: 16px;
    }

    .stepCardSecondtitle {
        font-size: 24px;
    }

    .title {
        font-size: 24px;
    }

    .secondTitle {
        font-size: 16px;
        margin-top: 20px;
    }

    .description {
        font-size: 16px;
    }

    .section2Container {
        padding: 180px 100px 40px 100px;
    }
}


@media(max-width: 1440px) {

    .arrowContainer {
        height: 50px !important;
        width: 50px !important;
    }

    .stepCardDescription {
        font-size: 16px;
    }

    .stepCardtitle {
        font-size: 16px;
    }

    .stepCardSecondtitle {
        font-size: 24px;
    }

    .title {
        font-size: 24px;
    }

    .secondTitle {
        font-size: 16px;
        margin-top: 20px;
    }

    .description {
        font-size: 16px;
    }

    .section2Container {
        padding: 180px 100px 40px 100px;
    }
}

@media(max-width: 992px) {
    .section2Container {
        padding: 170px 70px 0px 70px;
    }

    .title {
        font-size: 43px;
    }

    .stepCard {
        padding: 19px 90px 40px 40px;
    }
}

@media(max-width: 500px) {
    .section2Container {
        padding: 60px 10px 40px 10px;
        min-height: fit-content !important;
    }

    .title {
        font-size: 24px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .secondTitle {
        font-size: 13px;
        font-weight: 400;
        margin-top: 15px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .description {
        font-size: 13px;
        font-weight: 300;
        margin-top: 5px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .section2carousel {
        margin-top: 60px;
    }

    .stepCard {
        background: radial-gradient(312.20% 143.76% at -0.18% 2.78%, rgba(255, 255, 255, 0.75) 0%, rgba(251, 251, 251, 0.84) 16.35%, rgba(247, 247, 247, 0.79) 33.09%, rgba(246, 246, 246, 0.73) 44.92%, rgba(243, 243, 243, 0.80) 60.94%, rgba(246, 246, 246, 0.79) 81.34%, rgba(255, 255, 255, 0.68) 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 82, 147, 0.30);
        border-radius: 8px;
        padding: 20px 20px 10px 20px;
        min-width: 258px;
        margin-bottom: 30px;
        margin-right: 35px;
        margin-left: 35px;
        min-height: 306px;
        justify-content: flex-start;
    }

    .stepCardSecondtitle {
        font-size: 20px;
        color: #172E4A;
        line-height: 119.023%;
        font-weight: 700;
    }

    .stepCardDescription {
        font-size: 13px;
        margin-top: 27px;
        line-height: 136.023%;
    }

    .stepCardtitle {
        font-size: 14px !important;
    }

    .arrowContainer {
        height: 30px !important;
        width: 30px !important;
        padding-top: 0px;
    }

    .arrowIcon {
        display: none;
    }

    .mobileArrowIcon {
        display: flex;
    }

    .arrowCard {
        padding: 0px !important;
    }
}