.section6Card {
    background: #FFFFFF;
    box-shadow: 0px 15px 30px 5px rgba(123, 123, 123, 0.15);
    border-radius: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 98px 153px;
    position: relative;
}

.section6Button {
    color: var(--color-whiteText);
    background-color: var(--color-seccondary);
    position: absolute;
    bottom: -30px;
    right: 40%;
    left: 40%;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}


@media(max-width: 1440px) {
    .section6Card {
        padding: 88px 135px;
        font-size: 18px;
    }

    .section6Button {
        font-size: 18px;
        right: 38%;
        left: 38%;
    }
}

@media(max-width: 992px) {}