.section4Container {
    background: linear-gradient(110deg, #172E4A 3.16%, #2E4057 102.08%);
    min-height: 100vh !important;
    width: 100vw;
    overflow-x: hidden;
    padding: 250px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow-y: hidden;
}

.title {
    color: #EAEFF6;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 61.5px;
    margin-left: 280px;
}

.description {
    color: #F3F3F3;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    margin-left: 280px;
    margin-top: 48px;
    margin-bottom: 90px;
}

.button {
    width: 415px;
    height: 71px;
    border-radius: 8px;
    border: 0.5px solid #F3F3F3;
    background: #626E7E;
    align-items: center;
    justify-content: center;
    margin-left: 280px;
    color: #EAEFF6;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.5px;
    margin-top: 60px;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    flex: 1;
    padding-right: 110px;
    align-items: flex-end;
}

.step1 {
    width: 340px;
    position: relative;
    height: 50vh !important;
}

.flagIcon {
    font-size: 70px;
    position: absolute;
    top: -63px;
    right: 100px;
    color: #F3F3F3 !important;
}

.step2 {
    width: 340px;
    position: relative;
    min-height: 43vh !important;
    height: fit-content;
}

.step2TopCard {
    border-top: solid 1px #F3F3F3;
    height: 7vh;
    border-left: solid 1px #F3F3F3;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* padding: 10px; */
    max-width: 340px !important;
    width: 340px;
    margin-left: auto;
    position: relative;
}

.step1TopCard {
    border-top: solid 1px #F3F3F3;
    height: 7vh;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
    max-width: 340px !important;
    position: relative;
    margin-left: auto;
}

.activeStepCard {
    border-right: solid 1px #F3F3F3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}


.step3 {
    width: 340px;
    position: relative;
    min-height: 36vh !important;
}

.step4 {
    width: 340px;
    position: relative;
    min-height: 29vh !important;
}

.step5 {
    position: relative;
    min-height: 22vh !important;
    width: 340px;
}

.step6 {
    position: relative;
    flex: 1 !important;
    min-height: 22vh !important;
    border-top: solid 1px #F3F3F3;
}

.stepTitle {
    color: #F3F3F3;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.5px;
    position: absolute;
    top: -60px;
    white-space: nowrap;
    right: 13px;
    cursor: pointer !important;
}

.stepTitle span {
    color: rgba(243, 243, 243, 0.50);
}

.Divider {
    width: 259px !important;
    height: 0.5px !important;
    background: linear-gradient(90deg, #D4DCE7 3.15%, rgba(104, 122, 146, 0.30) 104.87%);
    margin-top: 18px;
    margin-bottom: 20px;
    display: none;
}

.responsiveStepsContainer {
    flex-direction: column;
    margin-top: 16px;
    display: none;
}

.responsiveStepCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    height: fit-content;
    max-width: 242px;
}

.responsiveStepTitle {
    display: flex;
    flex-direction: row;
    color: var(--color-whiteText);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.5px;
    align-items: center;
}

.responsiveStepDescription {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.9px;
    overflow: hidden !important;
}

@media(max-width: 1440px) {
    .title {
        margin-left: 102px;
        font-size: 24px;
        line-height: 38.765px;
    }

    .description {
        margin-left: 102px;
        font-size: 16px;
        margin-top: 30px;
        line-height: 19.54px;
    }

    .Divider {
        display: block;
        margin-left: 102px;
        width: 439px !important;
    }

    .stepTitle {
        font-size: 20px;
    }

    .step1 {
        width: 220px;
    }

    .step2 {
        width: 220px;
    }

    .step3 {
        width: 220px;
    }

    .step4 {
        width: 220px;
    }

    .step5 {
        width: 220px;
    }

    .step6 {
        width: 220px;
    }

    .step2TopCard {
        width: 220px;
        font-size: 13px;
    }

    .step1TopCard {
        font-size: 13px;
        width: 220px;
    }

}

@media(max-width: 480px) {

    .responsiveStepsContainer {
        display: flex;
    }

    .section4Container {
        padding: 55px 0px 0px 50px;
        min-height: fit-content !important;
    }

    .title {
        margin-left: 0px;
        font-size: 20px;
        line-height: 26px;
    }

    .Divider {
        display: block;
    }

    .description {
        margin-left: 0px;
        margin-top: 0px;
        font-size: 13px;
        line-height: 19.5px;
        margin-bottom: 0px;
    }

    .bottomContainer {
        display: none;
    }

}