.section1Container {
    font-family: var(--font-lato);
}

.animationText {
    background: linear-gradient(89deg, #533346 0.23%, #722838 20.51%, #87212E 39.9%, #652C3D 59.26%, #4D3549 85.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on, 'ss01' on, 'salt' on;
    height: 95px !important;
}

.cursorStyle {
    -webkit-text-fill-color: var(--color-primary);
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 1680px) and (min-width: 1400px) {
    .animationText {
        height: 70px !important;
    }
}

@media screen and (max-width: 1281px) and (min-width: 601px) {
    .animationText {
        height: 55px !important;
    }
}

@media screen and (max-width: 1281px) and (min-width: 822px)and (min-height:1200px) {
    .animationText {
        height: 73px !important;
    }
}