.chooseTypeContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chooseTypeTitle {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.typesContainer {
    display: flex;
    flex-direction: row;
    margin-top: 44px;
}

.typeCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 45px;
    color: #F3F3F3;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px 4px;
    background-color: #626E7E;
    border-radius: 8px;
    cursor: pointer;
}

.typeCard :hover {
    background-color: #132740 !important;
}

.writingContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px 95px 100px 90px;
    min-height: 90vh;
    /* background-color: var(--color-background); */
}

.wriritngTitle {
    color: #252525;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 60px;
}

.writingSecondTitle {
    color: #252525;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 56px;
    margin-top: 18px;
}

.writingInputTitle {
    margin-top: 29px;
    color: #252525;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin-left: 60px;
    line-height: normal;
}

.topicInputContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px 40px 0px 45px;
}

.topicInput {
    margin-top: 26px;
    border-radius: 8px !important;
    border: solid 1px #132740;
    overflow: hidden !important;
}

.topicInput textarea {
    border-radius: 8px !important;
    background-color: transparent !important;
    color: #252525 !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px 52px 55px 18px !important;
}

.topicInput textarea::-webkit-scrollbar {
    /* display: none; */
    width: 8px;
    background-color: #D9D9D9;
    border-radius: 33px;
}

.topicInput textarea::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #12263E;
    border-radius: 33px;
}

.topicInput textarea::placeholder {
    color: #132740 !important;
    font-size: 20px !important;
    font-weight: 400px !important;
}

.bodyInputContainer {
    display: flex;
    position: relative;
    height: fit-content;
    margin: 0px 40px 0px 45px;
}

.scoreButton {
    position: absolute;
    border: solid 2px #132740;
    padding: 0px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252525;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    z-index: 2;
    bottom: 20px;
    right: 40px;
    background-color: var(--color-background) !important;
    box-shadow: none !important;
}

.generateButton {
    background-color: #132740;
    border: solid 2px #132740;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    color: var(--color-whiteText);
    margin-left: 29px;
    margin-top: 25px;
    padding: 0px 22px;
}

.editButton {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 10px;
    right: 32%;
}

.writingForm {
    overflow: hidden;
    height: 750px;
}

.writingDataCard {
    height: 596px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    margin: 55px 0px 0px 0px;
    z-index: 2 !important;
    /* flex: 1; */
}

.writingDataTabBarCard {
    background-color: var(--color-seccondary);
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 2px var(--color-seccondary);
}

.topTabBarItemCard {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    padding: 0px 40px;
    border-radius: 8px;
    height: 70px !important;
}

.lockIcon {
    color: #FFF;
    margin-left: 5px;
}

.activeTopTabBarItemCard {
    background-color: #12263E !important;
}

.activeTopTabBarItemCard span {
    text-decoration: underline !important;
}

.writingScoreCard {
    display: flex;
    flex: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none !important;
    padding: 29px 42px 19px 32px;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
    min-height: 500px;
    overflow-y: auto !important;
    border: solid 2px var(--color-seccondary);
    overflow-x: hidden;
    -webkit-animation: fadeInTop 1.5s both;
    -moz-animation: fadeInTop 1.5s both;
    -o-animation: fadeInTop 1.5s both;
    animation: fadeInTop 1.5s both;

}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.writingScoreCard::-webkit-scrollbar {
    /* display: none; */
    width: 8px;
    background-color: #FFF;
    border-radius: 33px;
}

.writingScoreCard::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #12263E;
    border-radius: 33px;
}


.writingScoreDate {
    color: #252525;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px;
}

.writingScoresContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.writingScoreItemCard {
    color: #252525;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}


.writingScoreText {
    color: #252525;
    margin-top: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.analusisButton {
    height: 48px;
    width: 180px;
    align-items: center;
    justify-content: center;
    color: #DA282E;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: solid 1px #DA282E;
}

.analusisButtonContainer {
    display: flex;
    align-self: flex-end;
    margin-top: auto;
}

.writingEssayCard {
    display: flex;
    flex: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none !important;
    padding: 48px 100px 64px 71px;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
    min-height: 500px;
    overflow-y: auto !important;
    overflow-x: hidden;
    border: solid 2px var(--color-seccondary);
    -webkit-animation: fadeInTop 1.5s both;
    -moz-animation: fadeInTop 1.5s both;
    -o-animation: fadeInTop 1.5s both;
    animation: fadeInTop 1.5s both;
}

.writingEssayText {
    margin-top: 20px;
    color: #252525;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.writingEssayCard::-webkit-scrollbar {
    /* display: none; */
    width: 8px;
    background-color: #FFF;
    border-radius: 33px;
}

.writingEssayCard::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #12263E;
    border-radius: 33px;
}

.editWritingButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    width: 58px;
    border-radius: 100% !important;
    margin-left: auto;
    margin-top: auto;
    background-color: #F3F3F3;
}

.topSelect {
    margin-top: 24px;
    display: none;
}

.editWritingButtonIcon {
    font-size: 40px;
}

.writingCardSelect {
    display: none;
}

@media(max-width: 1440px) {
    .typeCard {
        font-size: 20px;
    }

    .topTabBarItemCard {
        font-size: 18px;
        padding: 0px 15px;
    }
}

@media(max-width: 992px) {
    .typeCard {
        font-size: 20px;
    }

    .topTabBarItemCard {
        font-size: 18px;
        padding: 0px 20px;
    }
}

@media(max-width: 480px) {
    .chooseTypeTitle {
        font-size: 13px;
    }

    .typeCard {
        font-size: 13px;
        width: 80px;
        height: 28px;
    }

    .typesContainer {
        margin-top: 33px;
    }

    .writingContainer {
        padding: 0px 22px 24px 22px;
    }

    .wriritngTitle {
        margin-left: 0px;
        font-size: 16px;
        margin-top: 20px;
    }

    .writingSecondTitle {
        font-size: 16px;
        margin-left: 0px;
    }

    .writingInputTitle {
        font-size: 16px;
        margin-left: 0px;
    }

    .topicInputContainer {
        margin: 0px;
    }

    .generateButton {
        position: absolute;
        bottom: 20px;
        right: 60px;
        height: 25px;
        width: 80px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
    }

    .reloadIconResponsive {
        display: none;
    }

    .editButton {
        right: 14px;
        bottom: 16px;
        background-color: #F3F3F3;
        padding: 0px;
        height: 35px;
        width: 35px;
        border-radius: 100% !important;
        align-items: center;
        justify-content: center;
    }

    .editIconResponsive {
        font-size: 25px !important;
    }

    .topicInput {
        width: 100% !important;
    }

    .topicInput textarea {
        font-size: 16px !important;
    }

    .topicInput textarea::-webkit-scrollbar {
        /* display: none; */
        width: 6px;
        background-color: var(--color-background);
        border-radius: 33px;
    }

    .topicInput textarea::-webkit-scrollbar-thumb {
        width: 6px;
        background-color: #626E7E;
        border-radius: 33px;
    }

    .topicInput textarea::placeholder {
        font-size: 16px !important;
    }

    .bodyInputContainer {
        margin: 0px;
    }

    .writingForm {
        height: fit-content;
    }

    .scoreButton {
        background-color: var(--color-seccondary) !important;
        width: 100%;
        right: 0px;
        bottom: 0px;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        height: 40px;
    }

    .scoreButton div {
        color: var(--color-whiteText);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 8px;
        border: 1px solid #F3F3F3;
        height: 26px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .writingScoresContainer {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .writingDataTabBarCard {
        display: none;
    }

    .writingDataCard {
        background-color: var(--color-background);
        height: fit-content;
        position: relative;
        border: none;
    }

    .sliderContainer {
        margin-bottom: 63px;
        align-self: center;
    }

    .writingScoreItemCard {
        color: #F3F3F3;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        margin-right: auto !important;
    }

    .writingScoreCard {
        padding: 15px 16px 88px 16px;
        border: solid 2px var(--color-seccondary);
        background-color: #626E7E;
        border-radius: 8px;
        margin-top: 1px;
        height: fit-content;
        position: relative;
    }

    .writingEssayCard {
        padding: 25px 18px 88px 26px;
        border: solid 2px var(--color-seccondary);
        background-color: #626E7E;
        border-radius: 8px;
        margin-top: 1px;
        height: fit-content;
        position: relative;
    }

    .writingEssayText {
        color: #F3F3F3;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .editWritingButton {
        width: 100%;
        border-top: solid 1px var(--color-seccondary);
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 0px;
        height: 53px;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border-radius: 0% !important;
    }

    .editWritingButtonIcon {
        font-size: 25px;
    }

    .responsiveEditWritingButton {
        background-color: #F3F3F3;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .writingScoreText {
        font-size: 15px;
        color: #F3F3F3;
        font-weight: 500;
        margin-top: 40px;
    }

    .analusisButtonContainer {
        width: 100%;
        border-top: solid 1px var(--color-seccondary);
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 0px;
        height: 53px;
        align-items: center;
        justify-content: center;
    }

    .analusisButton {
        width: 108px;
        height: 28px;
        border-color: var(--color-seccondary);
        color: #F3F3F3;
        font-size: 15px;
    }

    .writingCardSelect {
        display: flex;
    }

    .topSelect {
        display: flex;
    }

    .writingScoreDate {
        color: var(--color-whiteText);
    }

}