.fadein {
    animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    -webkit-animation: fadein 0.3s;
    -o-animation: fadein 0.3s;
}

.fadein {
    animation: fadeout 0.3s;
    -moz-animation: fadeout 0.3s;
    -webkit-animation: fadeout 0.3s;
    -o-animation: fadeout 0.3s;
}

.white {
    color: silver;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        color: blue;
    }

    100% {
        opacity: 0;
        color: red;
    }
}