.packageContainer {
    width: 300px;
    height: 456px;
    border-radius: 12px;
    border: 1px solid #626E7E;
    background: #626E7E;
    box-shadow: 0px 2px 2px 0px rgba(0, 82, 147, 0.18);
    padding: 27px 20px;
    position: relative;
}

.packageCard {
    background-color: #172E4A;
    filter: drop-shadow(-11px 4px 25px rgba(0, 0, 0, 0.20));
    border-radius: 6px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 37px 0px;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 20px !important;
}

.discountCard {
    background-color: #F3F3F3;
    filter: drop-shadow(-1.1576523780822754px 2.315304756164551px 8.682393074035645px rgba(0, 0, 0, 0.17));
    height: 78px;
    width: 78px;
    border-bottom-left-radius: 100% !important;
    border-radius: 3px;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 16px;
    color: #AB141D;
    text-align: center;
    font-size: 18.522px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 15px;
}

.packageCardTitle {
    color: #F3F3F3;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
}

.packagePrice {
    color: #F3F3F3;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.packagePrice span {
    text-decoration: line-through;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    width: fit-content;
    padding-right: 30px;
}

.optionsCard {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    color: #F3F3F3;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 23.4px;
    align-items: center;
}

.taskNumberCard {
    margin-top: 32px;
    color: #F3F3F3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
}

.taskNumberCard span {
    font-size: 20px;
    font-weight: 700;
}

.subDescription {
    color: #F3F3F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    margin-top: 8px;
}

.loading {
    display: flex;
    margin: auto;
}

.packageShowingPrice {
    position: relative;
    padding-right: 30px;
}

.rialIcon {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 24px;
}

@media(max-width: 1680px) {
    .packageContainer {
        width: 234.868px;
        height: 357px;
        padding: 21px 15px;
    }

    .packageCard {
        padding: 28px 0px;
        padding-left: 20px;
    }

    .packageCardTitle {
        font-size: 12.526px;
        font-weight: 400;
        line-height: 144%;
    }

    .packagePrice {
        font-size: 25.053px;
        font-weight: 700;
        line-height: 144%;
        margin-top: 12px;
        margin-bottom: 17px;
    }

    .optionsCard {
        font-size: 12.526px;
        font-weight: 700;
        line-height: 18.32px;
    }

    .taskNumberCard {
        font-size: 12.526px;
        font-weight: 400;
        line-height: 144%;
    }

    .taskNumberCard span {
        font-size: 15.658px;
        font-weight: 700;
    }

    .subDescription {
        font-size: 12.526px;
        font-weight: 400;
        line-height: 144%;
    }

    .discountCard {
        height: 61px;
        width: 61px;
        font-size: 14.092px;
        font-weight: 700;
        line-height: 144%;
        right: 6px;
        top: 12px;
    }

    .packagePrice span {
        font-size: 15.658px;
    }
}

@media(max-width: 1440px) {
    .packageContainer {
        width: 234.868px;
        height: 357px;
        padding: 21px 15px;
    }

    .packageCard {
        padding: 28px 0px;
        padding-left: 20px;
    }

    .packageCardTitle {
        font-size: 12.526px;
        font-weight: 400;
        line-height: 144%;
    }

    .packagePrice {
        font-size: 25.053px;
        font-weight: 700;
        line-height: 144%;
        margin-top: 12px;
        margin-bottom: 17px;
    }

    .optionsCard {
        font-size: 12.526px;
        font-weight: 700;
        line-height: 18.32px;
    }

    .taskNumberCard {
        font-size: 12.526px;
        font-weight: 400;
        line-height: 144%;
    }

    .taskNumberCard span {
        font-size: 15.658px;
        font-weight: 700;
    }

    .subDescription {
        font-size: 12.526px;
        font-weight: 400;
        line-height: 144%;
    }

    .discountCard {
        height: 61px;
        width: 61px;
        font-size: 14.092px;
        font-weight: 700;
        line-height: 144%;
        right: 6px;
        top: 12px;
    }

    .packagePrice span {
        font-size: 15.658px;
    }

}

@media(max-width: 500px) {
    .discountCard {
        height: 59px;
        width: 59px;
        right: 7px;
        top: 12px;
        font-size: 13.776px;
        font-weight: 700;
        line-height: 144%;
        padding-right: 14px;
    }

    .loading {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .packageContainer {
        width: 228px;
        height: 346px;
        padding: 20px 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .packageCardTitle {
        font-size: 12.16px;
        font-weight: 400;
        line-height: 144%;
    }

    .packageCard {
        padding: 24px 0px;
        padding-left: 24px !important;
    }

    .packagePrice {
        font-size: 22.463px;
        font-weight: 700;
        line-height: 144%;
        margin-top: 11px;
        margin-bottom: 16px;
    }

    .optionsCard {
        font-size: 12.16px;
        font-weight: 700;
        line-height: 17.784px;
    }

    .taskNumberCard span {
        font-size: 15.2px;
        font-weight: 700;
        line-height: 144%;
    }

    .taskNumberCard {
        font-size: 12.16px;
        font-weight: 400;
        line-height: 144%;
    }

    .subDescription {
        margin-top: 6px;
        font-size: 12.16px;
        font-weight: 400;
        line-height: 144%;
    }

    .packagePrice span {
        font-size: 15.658px;
    }
}