.headerCard {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 22px;
    right: 32px;
    left: 32px;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    flex: 1;
    background-color: var(--color-background);
    border-radius: 20px;
    padding-left: 29px;
    z-index: 1 ;
}