.dashboardContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-style: normal;
    overflow-y: hidden;
    background-color: var(--color-background);
    height: 100vh;
}

.dashboardLeftCard {
    background-color: var(--color-seccondary);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    margin: 32px auto;
    cursor: pointer;
}

.tabsContainer {
    display: flex;
    flex-direction: column;
    border-top: solid 1px var(--color-gray);
    border-bottom: solid 1px var(--color-gray);
    padding: 0px 5px;
}

.newEssayContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 18px 0px;
}

.newEssayButton {
    background-color: var(--color-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-whiteText);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 8px 0px 13px;
    flex: 1;
    height: 52px !important;
    border-radius: 8px !important;
    padding: 16px 10px;
    display: flex;
    cursor: pointer;
}

.newEssayButton:hover {
    background-color: var(--color-primary) !important;
}

.arrowLeftButton:hover {
    background-color: var(--color-primary) !important;
}

.taskTabButton:hover {
    background-color: var(--color-primary) !important;
}


.arrowLeftButton {
    height: 52px !important;
    width: 55px;
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.plusIcon {
    margin-left: 16px;
    color: var(--color-whiteText);
    font-size: 30px;
    font-weight: 700;
    margin-right: 13px;
}

.arrowIcon {
    color: var(--color-whiteText);
    font-size: 30px;
    font-weight: 700;
}

.taskTabsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    margin-top: 10px;
    align-items: flex-end;
}

.taskTabButton {
    color: var(--color-whiteText);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: var(--color-gray);
    padding: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    width: 32%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskTabButton:hover {
    font-size: 19px !important;
    font-weight: 600 !important;
    box-shadow: none !important;
}

.activeTaskTabButton:hover {
    font-size: 19px;
    font-weight: 600;
    box-shadow: none !important;
}

.activeTaskTabButton {
    color: var(--color-whiteText);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 0px;
    background-color: var(--color-blue);
    line-height: normal;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px !important;
    width: 32%;
    border-bottom-right-radius: 0px !important;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawerFooterContainer {
    border-top: solid 1px var(--color-gray);
    display: flex;
    flex-direction: row;
    align-self: flex-end !important;
    height: 74px;
    padding-top: 2px;
}

.drawerContent {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.menuButton {
    height: 100%;
    border-radius: 0px !important;
    padding: 0px 0px !important;
    border-right: solid 1px var(--color-gray);
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuButtonOpen {
    height: 100%;
    border-radius: 0px !important;
    /* background-color: #132740; */
    padding: 0px 0px !important;
    border-right: solid 1px var(--color-gray);
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuIcon {
    color: var(--color-whiteText);
    font-size: 30px;
}

.drawerFooterText {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--color-whiteText);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px;
}

.dashboardContentContainer {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: row;
    overflow-y: hidden;
    padding-right: 10px;
}

.leftTabBar {
    background-color: var(--color-seccondary);
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.briefLogo {
    height: 69px;
    width: 19px;
    margin: 12px 0px;
}

.leftTabBarButton {
    border-top: solid 1px var(--color-gray);
    display: flex;
    height: 74px;
    padding-top: 2px;
    margin-top: auto
}

.openDrawerButtonCard {
    border-top: solid 1px var(--color-gray);
    width: 100%;
    padding: 12px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.openDrawerButton {
    background-color: var(--color-gray);
    border-radius: 8px;
    height: 52px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topTabBarCard {
    height: 64px;
    display: flex;
    background-color: var(--color-seccondary);
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.dashboardContentRightContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    position: relative;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: flex-start;
}


.dashboardContentRightContainer::-webkit-scrollbar {
    /* display: none; */
    width: 12px;
    background-color: var(--color-textGray);
    border-radius: 33px;
}

.dashboardContentRightContainer::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: var(--color-navyBlue);
    border-radius: 33px;
}

.topTabBarItemCard {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: var(--color-whiteText);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    padding: 0px 40px;
    border-radius: 8px;
    height: 64px !important;
}

.lockIcon {
    color: var(--color-whiteText);
    margin-left: 5px;
}

.activeTopTabBarItemCard {
    background-color: var(--color-navyBlue) !important;
}

.activeTopTabBarItemCard span {
    text-decoration: underline !important;
}

.topTabBarContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 16px;
    padding: 30px 95px 0px 90px;
    height: 100px !important;
    width: 100% !important;
    overflow: hidden;
    z-index: 2;
}

.essayContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 100px;
}

.topResponsiveTabBar {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-seccondary);
    width: 100%;
    height: 45px;
}

.responsiveLogo {
    height: 17px !important;
    width: 175px !important;
}

.responsiveMenuButton {
    padding: 0px 10px !important;
}

.responsiveMenuIcon {
    color: var(--color-whiteText);
    font-size: 25px;
}

.responsivePlusButton {
    padding: 0px;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background-color: var(--color-gray);
}

.responsivePlusIcon {
    color: var(--color-whiteText);
    font-size: 24px;
}

.moreIcon {
    color: var(--color-whiteText);
    font-size: 25px;
    display: none;
}

.mask {
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
    mask-image: linear-gradient(to bottom, transparent 5%, black 100%);
}

@media(max-width: 1680px) {
    .topTabBarCard {
        height: 50px !important;
        padding: 0px !important;
        height: fit-content;
    }

    .topTabBarContainer {
        padding: 28px 22px 0px 22px;
    }

    .topTabBarContainerAnimation {
        padding: 28px 22px 0px 22px;
    }

    .topTabBarItemCard {
        height: 50px !important;
        font-size: 16px;
    }

    .activeTopTabBarItemCard {
        height: 50 !important;
    }

    .activeTaskTabButton {
        font-size: 12px;
        height: 38px !important;
    }

    .plusIcon {
        font-size: 25px;
        margin-right: 5px;
    }

    .taskTabButton {
        font-size: 12px;
        height: 38px !important;
    }

    .taskTabButton:hover {
        font-size: 13px !important;
        font-weight: 600 !important;
        box-shadow: none !important;
    }

    .activeTaskTabButton:hover {
        font-size: 13px;
        font-weight: 600;
        box-shadow: none !important;
    }

    .taskTabsContainer {
        margin-top: 0px;
    }

    .newEssayContainer {
        padding: 15px 0px !important;
    }

    .newEssayButton {
        font-size: 16px;
        padding: 0px !important;
        margin: 0px 8px 0px 0px;
        height: 48px !important;
    }

    .arrowLeftButton {
        height: 48px !important;
        width: 40px !important;
    }

    .logo {
        margin: 17px auto;
    }

    .drawerFooterText {
        font-size: 14px;
    }

    .drawerFooterContainer {
        height: 50px;
    }

    .menuButton {
        width: 60px;
    }

    .menuIcon {
        font-size: 25px;
    }

    .openDrawerButton {
        padding: 10px;
    }
}

@media(max-width: 1440px) {
    .topTabBarCard {
        height: 50px !important;
        padding: 0px !important;
        height: fit-content;
    }

    .plusIcon {
        font-size: 25px;
        margin-right: 5px;
    }

    .topTabBarContainer {
        padding: 28px 22px 0px 22px;
    }

    .topTabBarContainerAnimation {
        padding: 28px 22px 0px 22px;
    }

    .topTabBarItemCard {
        height: 50px !important;
        font-size: 16px;
    }

    .activeTopTabBarItemCard {
        height: 50 !important;
    }

    .activeTaskTabButton {
        font-size: 12px;
        height: 38px !important;
    }

    .taskTabButton {
        font-size: 12px;
        height: 38px !important;
    }

    .taskTabButton:hover {
        font-size: 13px !important;
        font-weight: 600 !important;
        box-shadow: none !important;
    }

    .activeTaskTabButton:hover {
        font-size: 13px;
        font-weight: 600;
        box-shadow: none !important;
    }

    .taskTabsContainer {
        margin-top: 0px;
    }

    .newEssayContainer {
        padding: 15px 0px !important;
    }

    .newEssayButton {
        font-size: 16px;
        padding: 0px !important;
        margin: 0px 8px 0px 0px;
        height: 48px !important;
    }

    .arrowLeftButton {
        height: 48px !important;
        width: 40px !important;
    }

    .logo {
        margin: 17px auto;
    }

    .drawerFooterText {
        font-size: 14px;
    }

    .drawerFooterContainer {
        height: 50px;
    }

    .menuButton {
        width: 60px;
    }

    /* .leftTabBar {
        width: 60px !important;
    } */

    .menuIcon {
        font-size: 25px;
    }

    .openDrawerButton {
        padding: 10px;
    }
}

@media(max-width: 500px) {
    .dashboardLeftCard {
        height: 100vh;
    }

    .dashboardContentContainer {
        flex-direction: column;
        padding-right: 0px;
    }

    .openDrawerButtonCard {
        display: none;
    }

    .leftTabBarButton {
        display: none;
    }

    .briefLogo {
        display: none;
    }

    .topResponsiveTabBar {
        display: flex;
    }

    .topTabBarContainer {
        display: none;
        height: 0px !important;
    }

    .topTabBarContainerAnimation {
        display: none;
        height: 0px !important;
    }

    .topTabBarCard {
        display: none;
    }

    .essayContainer {
        padding-bottom: 0px;
    }

    .dashboardContentRightContainer {
        padding-top: 0px !important;
    }

    .dashboardContentRightContainer::-webkit-scrollbar {
        width: 6px;
        background-color: var(--color-background);
        border-radius: 33px;
    }

    .dashboardContentRightContainer::-webkit-scrollbar-thumb {
        width: 6px;
        background-color: var(--color-gray);
        border-radius: 33px;
    }

    .logo {
        display: none;
    }

    .arrowLeftButton {
        background-color: var(--color-whiteText);
        height: 45px !important;
        width: 45px !important;
        padding: 0px;
    }

    .arrowIcon {
        color: var(--color-seccondary);
    }

    .newEssayButton {
        background-color: var(--color-blue);
        font-size: 16px;
        height: 40px;
    }

    .taskTabButton {
        height: 30px;
        font-size: 13px;
    }

    .activeTaskTabButton {
        height: 30px;
        font-size: 13px;
    }

    .newEssayContainer {
        padding: 10px 0px 10px 0px;
    }


    .drawerFooterContainer {
        height: 42px;
    }

    .menuButton {
        background-color: transparent;
        width: 40px;
    }

    .menuIcon {
        display: none;
    }

    .moreIcon {
        display: flex;
    }

}