.carousel .control-dots .dot {
    background: rgba(217, 217, 217, 1) !important;
    height: 24px !important;
    width: 24px !important;
    box-shadow: none !important;
    border: none !important;
}

.carousel {
    width: auto !important;
}

@media(max-width: 1440px) {
    .carousel .control-dots .dot {
        height: 12px !important;
        width: 12px !important;
    }
}

@media(max-width: 480px) {
    .carousel .control-dots .dot {
        height: 8px !important;
        width: 8px !important;
    }
}