.ant-select-single.ant-select-lg .ant-select-selector {
    padding: 3px 20px !important;
    border: 1px solid #2E4057 !important;
    height: fit-content !important;
    line-height: 28px !important;
    font-weight: 700 !important;
    font-size: 18px !important;
}

.ant-select .ant-select-arrow {
    color: #2E4057 !important;
    font-weight: 700 !important;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #2E4057 !important;
    box-shadow: none !important;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #2E4057 !important;
    box-shadow: none !important;
}

.ant-divider-vertical {
    border-inline-start: solid 2px #2E4057 !important;
}

.ant-divider-horizontal.ant-divider-with-text {
    border-block-start: 0 #2E4057 !important;
}

.ant-modal .ant-modal-content {
    height: fit-content !important;
    width: fit-content !important;
    border-radius: 0px !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    font-size: 20px !important;
    font-weight: 400 !important;
    letter-spacing: -0.12px;
}


@media(max-width: 500px) {
    .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
        font-size: 13px !important;
        font-weight: 600 !important;
    }
}

@media(max-width: 1440px) {
    .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
        font-size: 16px !important;
        font-weight: 600 !important;
    }
}