.carousel .control-dots .dot {
    background: rgba(217, 217, 217, 1) !important;
    height: 24px !important;
    width: 24px !important;
    box-shadow: none !important;
    border: none !important;
}

.carousel{
    width: auto !important;
}