.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    /* border: 1px solid #2E4057 !important; */
    border-radius: 10px !important;
    height: 71px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    color: #FAFAFA !important;
    text-align: center !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
    color: #FAFAFA !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: #FAFAFA !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    padding: 0px !important;
    background-color: #626E7E !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    display: flex !important;
    align-items: center !important;
}

.css-qiwgdb.css-qiwgdb.css-qiwgdb {
    color: #FFF !important;
}

.MuiButtonBase-root .MuiMenuItem-root .MuiMenuItem-gutters .MuiMenuItem-root .MuiMenuItem-gutters .landingSection6_selectItem__ZwORo .css-1km1ehz {
    background-color: #626E7E !important;
    color: #FFF !important;
}

.MuiList-root .MuiList-padding .MuiMenu-list .css-r8u8y9 {
    background-color: #626E7E !important;
    color: #FFF !important;
}

.css-r8u8y9 {
    background-color: #626E7E !important;
}

.MuiSvgIcon-root .MuiSvgIcon-fontSizeMedium .MuiSelect-icon .MuiSelect-iconOutlined .css-1636szt path svg {
    color: #FFF !important;
    fill: #FFF !important;
}

.css-1636szt {
    fill: #FFF !important;
    color: #FFF !important;
}

@media(max-width: 500px) {
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        font-size: 13px !important;
    }
}