@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    overflow-x: hidden;
  }
}

html {
  --color-primary: #172E4A;
  --color-seccondary: #2E4057;
  --color-background: #FFF;
  --color-darkGray: #4F6272;
  --color-gray: #626E7E;
  --color-secondGray: #5C5D60;
  --color-blue: #132740;
  --color-whiteText: #FFF;
  --color-blackText: #252525;
  --color-black: #000;
  --color-red: #AB141D;
  --color-lightRed: #DA282E;
  --color-orange: #FF8C00;
  --color-textGray: #D9D9D9;
  --color-navyBlue: #12263E;
  direction: ltr;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  font-style: normal;
  line-height: 60px;
  letter-spacing: -0.005em;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
}

.selectBack {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  border-radius: 8px !important;
  padding: 16px 28px;
  display: flex;
}

body {
  padding: 0;
  margin: auto !important;
  color: var(--color-blackText);
}


::-webkit-scrollbar {
  width: 13px;
  background-color: transparent;
  border-radius: 33px;
}

::-webkit-scrollbar-thumb {
  width: 13px;
  background-color: #667085;
  border-radius: 33px;
}

.mainContainer {
  overflow-x: hidden !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

}

@media (min-width: 1680px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    width: 8px;
  }
}