@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background:  */
}


html {
  --color-primary: #172E4A;
  --color-seccondary: #2E4057;
  --color-background: #FFFFFF;
  --color-darkGray: #4F6272;
  --color-gray: #929391;
  --color-blue: #005293;
  --color-whiteText: #FFFDFD;
  --color-blackText: #252525;
  --color-red: #DA282E;
  --color-orange: #FF8C00;
  direction: ltr;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
}

button {
  border-radius: 8px !important;
  padding: 16px 28px;
}