@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    overflow-x: hidden;
  }
}

html {
  --color-primary: #172E4A;
  --color-seccondary: #2E4057;
  --color-background: #FFF;
  --color-darkGray: #4F6272;
  --color-gray: #626E7E;
  --color-secondGray: #5C5D60;
  --color-blue: #132740;
  --color-whiteText: #FFF;
  --color-blackText: #252525;
  --color-black: #000;
  --color-red: #AB141D;
  --color-lightRed: #DA282E;
  --color-orange: #B5690D;
  --color-textGray: #D9D9D9;
  --color-navyBlue: #12263E;
  direction: ltr;
}

h1 {
  font-size: 82px !important;
  font-weight: 800 !important;
  line-height: 96.2px !important;
  letter-spacing: -0.41px !important;
}

h2 {
  font-size: 48px !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-family: var(--font-lato) !important;
}

h5 {
  font-size: 32px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

h6 {
  font-size: 24px !important;
  font-style: normal !important;
  font-family: var(--font-lato);
  font-weight: 400 !important;
}

.selectBack {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  border-radius: 8px !important;
  padding: 16px 28px;
  font-family: var(--font-lato);
  display: flex;
}

body {
  padding: 0;
  margin: auto !important;
  color: var(--color-blackText);
  zoom: 1 !important;
  max-width: 1920px !important;
  max-height: 1080px !important;
}

::-webkit-scrollbar {
  width: 8px !important;
  background-color: transparent !important;
  border-radius: 33px;
}

::-webkit-scrollbar-thumb {
  width: 8px !important;
  background-color: #667085;
  border-radius: 33px;
}

.mainContainer {
  overflow-x: hidden !important;
}

button:hover {
  box-shadow: -5px 15px 22px -5px rgba(0, 0, 0, 0.19);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

}

@media (min-width: 1680px) {}

@media (min-width: 1440px) {}