.landingContainer {
    overflow-x: hidden;
    position: relative;
    padding: 0px;
    max-width: 1920 !important;
}

@media(max-width: 1680px) {
    .startButton {
        width: 164px;
        color: #AB141D;
        font-size: 20px;
        font-weight: 900;
        line-height: 33.299px;
        padding: 13.32px 23.31px;
    }
}
