.writingContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px 95px 100px 90px;
    min-height: 90vh;
    /* background-color: var(--color-background); */
}

.wriritngTitle {
    color: #252525;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 60px;
    display: flex;
    /* flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    /* height: 75px; */
}

.writingSecondTitle {
    color: #252525;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 56px;
    margin-top: 18px;
}

.writingInputTitle {
    margin-top: 29px;
    color: #252525;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin-left: 60px;
    line-height: normal;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    padding-right: 40px;
}

.selectedTopcCard {
    /* border: solid 1px #132740; */
    border-radius: 8px !important;
    margin: 15px 40px 0px 45px;
    padding: 15px 52px 10px 18px !important;
    width: 70%;
    height: fit-content;
    overflow-y: auto;
    color: #252525 !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 180% !important;
}

.selectedTopcCard::-webkit-scrollbar {
    /* display: none; */
    width: 8px;
    background-color: #D9D9D9;
    border-radius: 33px;
}

.selectedTopcCard::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #12263E;
    border-radius: 33px;
}

.topicInputContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px 40px 0px 45px;
}

.topicInput {
    margin-top: 26px;
    border-radius: 8px !important;
    /* border: solid 1px #132740; */
    overflow: hidden !important;
}

.topicInputfirst textarea {
    min-height: 200px !important;
}

.topicInputsecond textarea {
    min-height: 250px !important;
}

.topicInputthird textarea {
    min-height: 115px !important;
}

.topicInput textarea {
    border-radius: 8px !important;
    background-color: transparent !important;
    color: #252525 !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    padding: 15px 52px 55px 18px !important;
}

.topicInput textarea::-webkit-scrollbar {
    /* display: none; */
    width: 8px;
    background-color: #D9D9D9;
    border-radius: 33px;
}

.topicInput textarea::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #12263E;
    border-radius: 33px;
}

.topicInput textarea::placeholder {
    color: #132740 !important;
    font-size: 20px !important;
    font-weight: 400px !important;
}

.bodyInputContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0px 40px 0px 45px;
}

.scoreButtonContainer {
    height: 64px;
    width: 100% !important;
    background: radial-gradient(340109.26% 915.21% at 0.48% 11.1%, #626E7E 0%, #425368 51.3%, #172E4A 78.43%);
    filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.08));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.scoreButton {
    border: solid 2px #132740;
    padding: 0px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252525;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    z-index: 2;
    background-color: var(--color-background) !important;
    box-shadow: none !important;
    margin-right: auto;
    margin-left: auto;
}

.prossessBar {
    height: 64px !important;
    background-color: #2E4057;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;

}

.generateButton {
    background-color: #2E4057;
    border: solid 2px #2E4057;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center !important;
    justify-content: center;
    color: var(--color-whiteText);
    margin-left: 29px;
    margin-top: 19px;
    padding: 0px 22px;
    color: #FAFAFA;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.editButton {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 10px;
    right: 32%;
}

.writingForm {
    overflow: hidden;
    /* height: 680px; */
}


.writingScoreText {
    color: #252525;
    margin-top: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.topSelect {
    margin-top: 24px;
    display: none;
}


.moreEssayButton {
    margin-top: 10px;
    display: flex;
    align-self: center;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

.modalCard {
    color: #DA282E;
    font-size: 24px;
    font-weight: 400;
}

.generatedWritingCard {
    border: solid 1px #132740;
    display: flex;
    width: 70%;
    border-radius: 8px;
    padding: 15px 52px 55px 18px !important;
    overflow-y: auto;
    color: #252525 !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    margin-top: 26px;
    line-height: normal;
    padding-bottom: 55px !important;
}

.generatedWritingCard::-webkit-scrollbar {
    /* display: none; */
    width: 8px;
    background-color: #D9D9D9;
    border-radius: 33px;
}

.generatedWritingCard::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #12263E;
    border-radius: 33px;
}

.cursor {
    display: none;
}

.wordsCount {
    margin-left: 45px;
    margin-top: 8px;
}

.essayInput textarea {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}


.essayInput {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.timer {
    margin-left: 10px;
    z-index: 2;
}

.writerClassname {
    line-height: 180% !important;
}

.writerClassname br {
    line-height: 180% !important;
}

.select {
    border-radius: 8px !important;
    border: 1px solid #2E4057 !important;
    width: 170px !important;
    height: 42px !important;
    background-color: #2E4057;
    margin-left: auto;
    margin-top: 25px;
}

.topicButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.selectMenuItem {
    background-color: #626E7E !important;
    color: #F3F3F3 !important;
    margin: 0px !important;
}

.imagesContainer {
    display: flex;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.emptyImageCard {
    width: 66%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: solid 1px var(--color-seccondary);
}

.imageCard {
    width: 66%;
    height: fit-content;
}

@media(max-width: 1440px) {
    .writingContainer {
        padding: 0px 27px 100px 22px;
    }

    .wriritngTitle {
        font-size: 16px;
    }

    .writingSecondTitle {
        font-size: 16px;
    }

    .writingInputTitle {
        font-size: 16px;
    }

    .generatedWritingCard {
        font-size: 16px !important;
    }

    .selectedTopcCard {
        font-size: 16px !important;
    }

    .topicInput textarea {
        font-size: 16px !important;
    }

    .generateButton {
        font-size: 14px !important;
    }

    .scoreButton {
        font-size: 16px !important;
        width: 100px;
        height: 31px;
    }
}

@media(max-width: 500px) {
    .writingContainer {
        padding: 0px 22px 50px 22px;
    }

    .emptyImageCard {
        width: 100%;
    }

    .imageCard {
        width: 100%;
    }

    .imagesContainer {
        margin-left: 0px;
    }

    .wordsCount {
        font-size: 13px !important;
    }

    .writingInputTitle {
        flex-direction: column;
    }

    .wriritngTitle {
        margin-left: 0px;
        font-size: 16px;
        margin-top: 20px;
    }

    .writingSecondTitle {
        font-size: 16px;
        margin-left: 0px;
    }

    .writingInputTitle {
        font-size: 16px;
        margin-left: 0px;
    }

    .topicInputContainer {
        margin: 0px;
    }

    .wordsCount {
        margin-left: 0px;
    }

    .timer {
        margin-left: 0px;
    }

    .selectedTopcCard {
        height: fit-content;
        margin: 15px 0px 0px 0px !important;
        width: 100%;
        font-size: 16px !important;
    }

    .generatedWritingCard {
        font-size: 13px !important;
        font-weight: 400;
        padding: 15px 32px 55px 18px;
        width: 100%;
    }

    .generateButton {
        height: 25px;
        width: 100px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
    }

    .topicButtonsContainer {
        position: absolute;
        bottom: 20px;
        right: 60px;
        flex-direction: row;
    }

    .select {
        height: 25px !important;
        width: 100px !important;
        margin-top: 20px;
    }

    .reloadIconResponsive {
        display: none;
    }

    .editButton {
        right: 14px;
        bottom: 16px;
        background-color: #F3F3F3;
        padding: 0px;
        height: 35px;
        width: 35px;
        border-radius: 100% !important;
        align-items: center;
        justify-content: center;
    }

    .editIconResponsive {
        font-size: 25px !important;
    }

    .topicInput {
        width: 100% !important;
    }

    .topicInput textarea {
        font-size: 13px !important;
    }

    .topicInput textarea::-webkit-scrollbar {
        /* display: none; */
        width: 6px;
        background-color: var(--color-background);
        border-radius: 33px;
    }

    .topicInput textarea::-webkit-scrollbar-thumb {
        width: 6px;
        background-color: #626E7E;
        border-radius: 33px;
    }

    .topicInput textarea::placeholder {
        font-size: 13px !important;
    }

    .bodyInputContainer {
        margin: 0px;
    }

    .writingForm {
        height: fit-content;
        padding-bottom: 50px;
    }

    .scoreButton {
        background-color: var(--color-seccondary) !important;
        width: 100%;
        right: 0px;
        bottom: 0px;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        height: 40px;
    }

    .scoreButton div {
        color: var(--color-whiteText);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 8px;
        border: 1px solid #F3F3F3;
        height: 26px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .writingScoreText {
        font-size: 15px;
        color: #F3F3F3;
        font-weight: 500;
        margin-top: 40px;
    }

    .topSelect {
        display: flex;
    }
}