.writingContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px 95px 100px 90px;
    font-family: var(--font-lato);
    font-style: normal;
}

.wriritngTitle {
    color: var(--color-blackText);
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-left: 45px;
    display: flex;
}

.writingSecondTitle {
    color: var(--color-blackText);
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    margin-left: 45px;
    margin-top: 17px;
}

.writingInputTitle {
    margin-top: 8px;
    color: var(--color-blackText);
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    margin-left: 45px;
    line-height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;
}

.selectedTopcCard {
    border-radius: 8px !important;
    margin: 15px 40px 0px 45px;
    padding: 15px 52px 10px 18px !important;
    width: 70%;
    height: fit-content;
    overflow-y: auto;
    color: #252525 !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 180% !important;
}

.topicInputContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px 40px 0px 45px;
}

.topicInput {
    margin-top: 26px;
    border-radius: 8px !important;
    overflow: hidden !important;
}

.topicInput textarea {
    border-radius: 8px !important;
    background-color: transparent !important;
    color: var(--color-blackText) !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    padding: 15px 52px 55px 18px !important;
    min-height: 209px !important;
}

.topicButtonsContainer button:hover {
    box-shadow: none !important;
    box-shadow: #F3F3F3 !important;
}

.topicInput textarea::placeholder {
    color: #999a9c !important;
    font-size: 20px !important;
    font-weight: 400px !important;
}

.bodyInputContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0px 40px 0px 45px;
}



.generateButton {
    background-color: var(--color-seccondary) !important;
    border: solid 2px #2E4057;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center !important;
    justify-content: center;
    color: var(--color-whiteText);
    margin-left: 29px;
    margin-top: 19px;
    padding: 0px 22px;
    color: #FAFAFA;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.editButton {
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: 10px;
    right: 32%;
    padding: 0px !important;
    border-radius: 100% !important;
}

.editButton:hover {
    box-shadow: none !important;
}

.checkButton {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 32%;
    border-radius: 100% !important;
    padding: 0px !important;
    align-items: center;
    justify-content: center;
}

.writingForm {
    overflow: hidden;
    /* height: 680px; */
}


.writingScoreText {
    color: #252525;
    margin-top: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.topSelect {
    margin-top: 24px;
    display: none;
}


.moreEssayButton {
    margin-top: 10px;
    display: flex;
    align-self: center;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

.modalCard {
    color: #DA282E;
    font-size: 24px;
    font-weight: 400;
    ;
}

.generatedWritingCard {
    border: solid 1px #132740;
    display: flex;
    width: 70%;
    border-radius: 8px;
    padding: 15px 52px 55px 18px !important;
    overflow-y: auto;
    color: #252525 !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    margin-top: 26px;
    line-height: normal;
    padding-bottom: 55px !important;
}

.academicGeneratedWritingCard {
    max-width: 70% !important;
    width: fit-content !important;
}

.cursor {
    display: none;
}

.wordsCount {
    margin-left: 45px;
    margin-top: 8px;
}

.essayInput textarea {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    height: 300px !important;
}


.essayInput {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.inputError {
    color: #DA282E;
    font-family: var(--font-lato);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.5px;
    margin-top: 14px;
}

.writerClassname {
    line-height: 180% !important;
}

.writerClassname br {
    line-height: 180% !important;
}

.select {
    border-radius: 8px !important;
    border: 1px solid #2E4057 !important;
    min-width: 170px;
    height: 42px !important;
    background-color: #2E4057;
    margin-left: auto;
    margin-top: 25px;
    width: fit-content !important;
}

.topicButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.selectMenuItem {
    background-color: #626E7E !important;
    color: #F3F3F3 !important;
    margin: 0px !important;
}

.imagesContainer {
    display: flex;
    margin-left: 45px;
    margin-top: 48px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.imagesContainer img {
    /* min-height: 100%; */
    width: 100%;
    height: auto;
    /* min-width: 600px !important; */
    cursor: pointer;
}

.emptyImageCard {
    width: 66%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: solid 1px var(--color-seccondary);
}

.imageCard {
    /* width: 66%;
    height: fit-content; */
    margin-right: 24px;
    image-rendering: pixelated !important;
    cursor: pointer;
}

.imageCard img {
    image-rendering: pixelated !important;
}

.academicTaskTopic {
    display: flex;
    flex-direction: row;
    margin: 0px 40px 24px 45px;
    width: 100% !important;
    position: relative;
    min-height: 115px !important;
}

.academicTaskbuttonContainer {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.editIconResponsive:hover {
    font-size: 43px !important;
}

.WalletErrorCard {
    width: 810px;
    height: fit-content;
    background-color: var(--color-gray);
    border-radius: 14px;
    padding: 64px 64px 38px 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WalletErrorCard span {
    color: var(--color-whiteText);
    text-align: center;
    font-family: var(--font-lato);
    font-size: 32px;
    font-weight: 500;
    margin-top: 64px;
}

.waaletErrorButtonsCard {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-top: 103px;
}

.waaletErrorButtonsCard button {
    height: 50px;
    padding: auto !important;
    text-align: center;
    font-family: var(--font-lato);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    justify-content: center;
}

.addTokenBtn {
    background-color: var(--color-whiteText);
    color: var(--color-primay);
    width: 190px;
}

.okBtn {
    padding-left: auto !important;
    color: var(--color-whiteText);
    margin-left: 10px;
}

.errorForm {
    color: #DA282E;
    font-family: var(--font-lato);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.5px;
    margin-top: 14px;
}

@media(max-width: 1680px) {
    .writingContainer {
        padding: 0px 27px 100px 22px;
    }

    .wriritngTitle {
        font-size: 16px;
    }

    .writingSecondTitle {
        font-size: 16px;
    }

    .writingInputTitle {
        font-size: 16px;
    }

    .generatedWritingCard {
        font-size: 16px !important;
    }

    .selectedTopcCard {
        font-size: 16px !important;
    }

    .topicInput textarea {
        font-size: 16px !important;
    }

    .generateButton {
        font-size: 14px !important;
    }
}

@media(max-width: 500px) {
    .academicTaskbuttonContainer {
        margin-top: 26px;
    }

    .writingContainer {
        padding: 0px 22px 50px 22px;
    }

    .emptyImageCard {
        width: 100%;
    }

    .imageCard {
        width: 100%;
    }

    .imagesContainer {
        margin-left: 0px;
        margin-top: 20px;
    }


    .wriritngTitle {
        margin-left: 0px;
        font-size: 16px;
        margin-top: 20px;
    }

    .writingSecondTitle {
        font-size: 16px;
        margin-left: 0px;
    }

    .checkButton {
        right: 8px;
        height: 30px;
        width: 30px;
    }

    .writingInputTitle {
        font-size: 16px;
        margin-left: 0px;
        padding-right: 0px;
    }

    .topicInputContainer {
        margin: 0px;
        flex-direction: column-reverse;
    }

    .academicTaskTopic {
        margin: 0px;
    }

    .wordsCount {
        margin-left: auto !important;
        margin-top: 0px;
    }

    .selectedTopcCard {
        height: fit-content;
        margin: 15px 0px 0px 0px !important;
        width: 100%;
        font-size: 16px !important;
    }

    .generatedWritingCard {
        font-size: 13px !important;
        font-weight: 400;
        padding: 15px 32px 55px 18px;
        width: 100%;
    }

    .generateButton {
        height: 25px;
        width: 100px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
    }

    .topicButtonsContainer {
        margin-bottom: 18px;
        flex-direction: row;
    }

    .select {
        height: 25px !important;
        min-width: 86px !important;
        margin-top: 20px;
    }

    .selectMenuItem {
        height: 27px !important;
        padding: 0px 8px !important;
    }

    .reloadIconResponsive {
        display: none;
    }

    .editButton {
        right: 14px;
        bottom: 16px;
        background-color: #F3F3F3;
        padding: 0px;
        height: 35px;
        width: 35px;
        border-radius: 100% !important;
        align-items: center;
        justify-content: center;
    }

    .editIconResponsive {
        font-size: 25px !important;
    }

    .topicInput {
        width: 100% !important;
        margin-top: 0px;
    }

    .topicInput textarea {
        font-size: 13px !important;
    }

    .topicInput textarea::placeholder {
        font-size: 13px !important;
    }

    .essayInput {
        margin-top: 7px;
    }

    .bodyInputContainer {
        margin: 0px;
    }

    .writingForm {
        height: fit-content;
        padding-bottom: 50px;
    }

    .writingScoreText {
        font-size: 15px;
        color: #F3F3F3;
        font-weight: 500;
        margin-top: 40px;
    }

    .topSelect {
        display: flex;
    }
}