.topContainer {
    background-color: var(--color-seccondary);
    height: 418px;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    padding-top: 100px;
}

.title {
    color: var(--color-whiteText);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatIcon {
    font-size: 100px;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    min-height: 30vh;
    padding: 147px 40px 150px 180px;
    align-items: flex-start;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.questionCard {
    padding-right: 127px;
    height: fit-content !important;
    max-height: fit-content !important;
    align-self: flex-start !important;
    display: flex;
    width: 100%;
    margin-bottom: auto !important;
}

.questionContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.questionMainCard {
    border-bottom: 0.5px solid var(--color-seccondary);
    flex: 1;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.question {
    height: fit-content;
    line-height: 30px;
    letter-spacing: 0.48px;
    color: var(--color-blackText);
    margin-right: 45px;
    display: flex;
    flex-direction: row;
}

.circleIcon {
    min-height: 20px !important;
    min-width: 20px !important;
    font-size: 20px !important;
    margin-right: 10px;
    margin-top: 7px;
}

.plusIcon {
    min-height: 35px !important;
    min-width: 35px !important;
    font-size: 35px !important;
    cursor: pointer;
}

.answer {
    border-radius: 5px;
    margin: 21px 22px 32px 0px;
    color: var(--color-black);
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.12px;
    overflow: hidden;
}

@media(max-width: 1680px) {
    .topContainer {
        height: 387px;
    }

    .title {
        font-size: 46px;
    }

    .question {
        font-size: 16px;
    }

    .answer {
        font-size: 16px;
    }

    .plusIcon {
        min-height: 25px !important;
        min-width: 25px !important;
        font-size: 25px !important;
    }
}

@media(max-width: 1440px) {
    .topContainer {
        height: 387px;
    }

    .title {
        font-size: 46px;
    }

    .question {
        font-size: 16px;
    }

    .answer {
        font-size: 16px;
    }

    .plusIcon {
        min-height: 25px !important;
        min-width: 25px !important;
        font-size: 25px !important;
    }
}

@media(max-width: 500px) {
    .topContainer {
        height: 40vh;
    }

    .title {
        font-size: 34px;
    }

    .mainContainer {
        padding: 50px 14px 50px 14px;
        flex-direction: column;
    }

    .questionCard {
        padding-right: 0px;
        z-index: 2;
    }

    .question {
        font-size: 13px;
    }

    .answer {
        font-size: 13px;
    }

    .plusIcon {
        min-height: 20px !important;
        min-width: 20px !important;
        font-size: 20px !important;
    }
}