.section2Background {
    min-height: 100vh;
    overflow: hidden !important;
    overflow-x: hidden !important;
    position: relative;
}

.rightBottomBackground {
    height: 377px;
    width: 353px;
    position: absolute;
    /* top: 477px; */
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.leftTopBackground {
    height: 377px;
    width: 459px;
    position: absolute;
    top: 128px;
    left: 0px;
    z-index: -1;
}

.headerBackground {
    width: 1719px;
    height: 220px;
    position: absolute;
    top: -0px;
    left: 0px;
    z-index: -1;
}

.headerShadow {
    width: 1719px;
    height: 252px;
    position: absolute;
    top: 0px;
    z-index: -2;
    left: 0px;

}

@media(max-width: 1440px) {}

@media(max-width: 992px) {}


@media(max-width: 500px) {
    .section2Background {
        min-height: fit-content !important;
    }
}