.footerContainer {
    background-color: var(--color-seccondary);
    padding: 45px 0px 60px 197px;
    display: flex;
    flex-direction: column;
}

.firstLineItems {
    display: flex;
    flex-direction: row;
}

.link {
    margin-top: 10px;
    color: #F3F3F3;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    opacity: 0.5;
    margin-right: 30px;
    margin-bottom: 10px;
}

.secondLineItems {
    display: flex;
    flex-direction: row;
}

.socialIcon {
    margin-top: 10px;
    margin-left: 15px;
    color: #F3F3F3;
    font-size: 25px;
    font-style: normal;
    opacity: 0.5;
    cursor: pointer;
}

.logo {
    color: #F3F3F3;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    margin-bottom: 20px;
}

@media(max-width: 1620px) {
    .footerContainer {
        padding: 30px 0px 30px 120px;
    }

    .logo {
        font-size: 16px;
        margin-bottom: 0px;
        font-weight: 700;
    }

    .link {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .socialIcon {
        font-size: 20px;
    }
}

@media(max-width: 1440px) {
    .footerContainer {
        padding: 30px 0px 30px 120px;
    }

    .logo {
        font-size: 16px;
        margin-bottom: 0px;
        font-weight: 700;
    }

    .link {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .socialIcon {
        font-size: 20px;
    }
}

@media(max-width: 500px) {
    .footerContainer {
        padding: 20px 0px 20px 17px;
    }

    .firstLineItems {
        flex-direction: column-reverse;
    }

    .logo {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .link {
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .socialIcon {
        font-size: 20px;
    }
}