.wallet {
    /* height: 140vh !important; */
    height: 100% !important;
    overflow: hidden !important;
    overflow-x: hidden !important;
    display: flex;
    flex-direction: row;
}

.leftNavBardCard {
    height: 100%;
    width: 103px;
    background-color: var(--color-seccondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 414px;
    height: 44px;
    margin-top: 36px;
}

.tokens {
    margin-top: 30px !important;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: auto;
}

.tabsContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0px 65px;
    margin-bottom: 64px;
}

.tabsContainer div {
    flex: 1;
    border-bottom: solid 5px var(--color-seccondary);
    text-align: center;
    height: 100%;
    padding: 33px 0px;
    cursor: pointer;
    color: var(--color-seccondary);
    text-align: center;
    font-family: var(--font-lato);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.assessments {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 29px !important;
}

.tokenCardMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstTitle {
    margin-top: 48px;
    text-align: center;
    font-family: var(--font-lato);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menuButton {
    margin-top: auto;
    font-size: 40px;
    color: var(--color-whiteText);
    margin-bottom: 30px;
    padding: 0px;
}

.walletContainer {
    height: 100vh;
    overflow: hidden !important;
    overflow-x: hidden !important;
    background-image: url('/dashboard/wallet-background.svg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 20px 0px;
    background: var(--color-background);
    flex: 1;
}

.title {
    color: var(--color-whiteText);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
    margin-top: auto;
}

.tokenCard {
    height: 29%;
    width: 100%;
    flex-shrink: 0;
    background: linear-gradient(180deg, #2E4057 0.14%, #626E7E 100.14%);
    filter: drop-shadow(3px 8px 60px rgba(0, 82, 147, 0.23));
    box-shadow: 3px 8px 60px -5px rgba(0, 82, 147, 0.23);
    color: var(--color-whiteText);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 261px;
    padding-right: 200px;
}

.tokenCard span {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 36px;
    margin-left: 30px;
}

.addTokenButton {
    border-radius: 8px;
    background: var(--color-background);
    width: 168px;
    height: 45px !important;
    min-height: 45px !important;
    color: var(--color-primary);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin: auto 0px 32px auto;
}

.plusIcon {
    font-size: 24px;
    margin-right: 8px;
}

.transactionTable {
    border-radius: 8px;
    backdrop-filter: blur(17px);
    /* height: 88vh; */
    height: 71%;
    flex-shrink: 0;
    width: max-content;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainContainer {
    padding: 64px 124px 0px 180px;
}

.tabaleTitleCard {
    display: flex;
    align-items: center;
    color: var(--color-gray);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0px 65px 15px 65px;
    text-align: center;
}

.tabaleTitleCard th {
    flex: 1;
}

.tableContent {
    overflow-y: auto;
    width: 100%;
    flex: 1;
    text-align: center;
    padding: 0px 65px;
    max-height: 340px;
}

.tableContent::-webkit-scrollbar {
    width: 12px;
    background-color: var(--color-background);
    border-radius: 33px;
}

.tableContent::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: var(--color-navyBlue);
    border-radius: 33px;
}

.modalCard {
    min-width: 1700px;
    width: 100% !important;
    min-height: 500px !important;
    border-radius: 8px !important;
}

.modalCard {
    background-color: var(--color-primary);
    filter: drop-shadow(-18px 20px 66px rgba(0, 0, 0, 0.17));
    width: 100%;
    height: fit-content;
    min-height: 100%;
    border-radius: 0px !important;
    padding: 34px 28px 33px 40px;
}

.selectCountryContainer {
    background-color: var(--color-primary);
    filter: drop-shadow(-18px 20px 66px rgba(0, 0, 0, 0.17));
    width: 690px !important;
    height: fit-content;
    min-height: 100%;
    border-radius: 0px !important;
}

.selectCountryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
    padding: 53px 60px;
}

.selectCountryTitle {
    color: var(--color-whiteText);
    font-family: var(--color-lato);
    font-size: 24.354px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 58px;
}

.modalTopContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.select {
    min-width: 298px;
    width: fit-content;
    height: 42px;
    border-radius: 8px;
    border: 1px solid var(--color-gray);
    background: var(--color-seccondary);
}

.selectItem {
    color: var(--color-whiteText) !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.closeModalButton {
    font-size: 45px;
    color: var(--color-gray) !important;
    cursor: pointer;
    margin-left: auto;
}

.packagesContainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
}

.loading {
    margin: auto;
}

.buyPackageCard {
    display: flex;
    flex-direction: row;

}

.buyPackageLeftCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyPackageLeftCardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 336px;
    background: rgba(243, 243, 243, 0.03);
    filter: drop-shadow(-11px 4px 25px rgba(0, 0, 0, 0.20));
    color: var(--color-whiteText);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0px 70px 0px 40px;
    border-radius: 4px;
    box-shadow: -8px 2px 14px -4px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: -8px 2px 14px -4px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -8px 2px 14px -4px rgba(0, 0, 0, 0.54);
}

.buyPackageLeftCardTitle span {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 7px;
}

.buyPackageRightCard {
    display: flex;
    flex-direction: column;
    padding: 0px 133px 50px 0px;
}

.buyPackageRightCardTitle,
.buyPackageRightCardSubTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-whiteText);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-right: 45px;
}

.countercontainer {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
    margin-top: 48px;
}

.arrowIcon {
    color: var(--color-whiteText);
    font-size: 20px;
}

.countCard {
    border-radius: 6px;
    border: 1px solid #F3F3F3;
    background: #626E7E;
    min-width: 100px;
    height: 42px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-whiteText);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 9.5px;
    margin: 0px 16px;
}

.buyPackageRightCardSubTitle {
    margin-top: 33px;
    border-top: solid 1px var(--color-gray);
    font-weight: 300;
    padding-top: 24px;
}

.applyCodeContainer {
    display: flex;
    flex-direction: row;
    padding-right: 44px;
    margin-top: 40px;
    align-items: center;
}

.applyCodeButton {
    width: 129px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--card-f, #2E4057);
    background: var(--card-f, #2E4057);
    padding: 0px;
    align-items: center;
    justify-content: center;
    color: var(--color-whiteText);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 24px;
}

.applyCodeContainer input {
    width: 269px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #F3F3F3;
    background: #626E7E;
    color: var(--color-whiteText) !important;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 9.5px;
    padding-left: 3px;

}

.backButton {
    background-color: var(--color-seccondary);
    margin: 34px auto 0px 0px;
    padding: 0px !important;
    width: 130px;
    height: 48px;
    align-items: center;
    justify-content: center;
    font-family: var(--font-lato);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.backIcon {
    font-size: 40px;
}

.applyCodeContainer input ::placeholder {
    color: var(--color-whiteText) !important;
    text-align: center !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 9.5px;
}

.totalDueCard {
    padding-top: 24px !important;
}

.totalDueCard span {
    font-size: 32px;
    font-weight: 700;
}

.checkoutButton {
    width: 172px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #F3F3F3;
    background: var(--color-background);
    padding: 0px !important;
    align-items: center;
    justify-content: center;
    color: var(--color-blackText);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 50px;
    margin-right: auto;
}

.applyCodeContainer span {
    color: var(--color-whiteText);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: auto;
}

.inputCard {
    position: relative;
}

.checkCodeIcon {
    font-size: 25px;
    color: var(--color-whiteText);
    position: absolute;
    top: 9px;
    right: 4px;
}

.inputError {
    color: var(--color-whiteText);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.3px;
    margin-top: 16px;
}

.errorForm {
    border: solid 1px var(--color-red) !important;
}

.buyPackLeftCardTitleText {
    position: relative;
    padding-right: 30px;
}

.rialIcon {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 24px;
}

.responsiveLogo {
    display: none;
}

.selectCountryButton {
    background-color: var(--color-background);
    width: 228.93px;
    height: 48.708px;
    border-radius: 10px;
    color: var(--color-primary);
    font-size: 24.354px;
    font-weight: 700;
    margin-top: 58px;
    padding: 0px !important;
    align-items: center;
    justify-content: center;
}

/* 
@media(max-width: 1680px) {
    .tokenCard {
        padding: 0px 80px;
        font-size: 36px;
        font-weight: 600;
    }

    .tokenCard span {
        font-size: 16px;
    }

    .addTokenButton {
        width: 130px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
    }

    .plusIcon {
        font-size: 20px;
        margin-right: 5px;
    }

    .mainContainer {
        padding: 64px 50px 0px 80px;
    }

    .tableContent::-webkit-scrollbar {
        width: 8px;
    }

    .tableContent::-webkit-scrollbar-thumb {
        width: 8px;
    }

    .tabaleTitleCard {
        font-size: 18px;
        font-weight: 400;
    }

    .modalCard {
        min-width: 1300px;
    }

    .buyPackageLeftCardTitle {
        width: 248px;
        padding: 0px 30px 0px 10px;
        height: 306px;
        font-size: 32px;
        font-weight: 600;
    }

    .buyPackageLeftCardTitle span {
        font-size: 18px;
        font-weight: 300;
    }

    .buyPackageRightCardTitle,
    .buyPackageRightCardSubTitle {
        font-size: 20px;
    }

    .totalDueCard span {
        font-size: 28px;
    }

    .checkoutButton {
        width: 132px;
        height: 40px;
        font-size: 20px;
        font-weight: 500;
    }

    .applyCodeButton {
        font-size: 18px;
    }

    .leftNavBardCard {
        width: 80px;
    }

    .select {
        min-width: 222.678px;
        width: fit-content;
        height: 31.384px;
    }


    .selectItem {
        font-size: 13px !important;
    }
}

@media(max-width: 1440px) {
    .tokenCard {
        padding: 0px 80px;
        font-size: 36px;
        font-weight: 600;
    }

    .tokenCard span {
        font-size: 16px;
    }

    .addTokenButton {
        width: 130px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
    }

    .plusIcon {
        font-size: 20px;
        margin-right: 5px;
    }

    .mainContainer {
        padding: 64px 50px 0px 80px;
    }

    .tableContent::-webkit-scrollbar {
        width: 8px;
    }

    .tableContent::-webkit-scrollbar-thumb {
        width: 8px;
    }

    .tabaleTitleCard {
        font-size: 18px;
        font-weight: 400;
    }

    .modalCard {
        min-width: 1300px;
    }

    .buyPackageLeftCardTitle {
        width: 248px;
        padding: 0px 30px 0px 10px;
        height: 306px;
        font-size: 32px;
        font-weight: 600;
    }

    .buyPackageLeftCardTitle span {
        font-size: 18px;
        font-weight: 300;
    }

    .buyPackageRightCardTitle,
    .buyPackageRightCardSubTitle {
        font-size: 20px;
    }

    .totalDueCard span {
        font-size: 28px;
    }

    .checkoutButton {
        width: 132px;
        height: 40px;
        font-size: 20px;
        font-weight: 500;
    }

    .applyCodeButton {
        font-size: 18px;
    }

    .leftNavBardCard {
        width: 80px;
    }

    .select {
        min-width: 222.678px;
        width: fit-content;
        height: 31.384px;
    }


    .selectItem {
        font-size: 13px !important;
    }
} */

@media(max-width: 500px) {

    .wallet {
        padding-top: 45px;
    }

    .inputCard input {
        width: 148px;
        height: 28px;
        flex-shrink: 0;
        font-size: 10px;
        font-weight: 400;
        border-radius: 3px;
        line-height: 7.198px;
    }

    .inputCard input::placeholder {
        font-size: 10px;
        font-weight: 400;
        line-height: 7.198px;
    }

    .applyCodeContainer span {
        display: none;
    }

    .checkCodeIcon {
        font-size: 20px;
        top: 4px;
        right: 8px;
    }

    .applyCodeButton {
        width: 85.815px;
        height: 27.94px;
        font-size: 10px;
        font-weight: 400;
        border-radius: 3px !important;
    }

    .applyCodeContainer {
        width: fit-content;
        align-self: center;
        padding-right: 0px;
    }

    .checkoutButton {
        width: 78px;
        height: 24px;
        font-size: 10px;
        font-weight: 600;
        border-radius: 3px !important;
    }

    .buyPackageRightCardSubTitle {
        padding-right: 0px;
        font-size: 10px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 26px;
    }

    .buyPackageRightCardSubTitle span {
        font-size: 12px;
        font-weight: 700;
    }

    .arrowIcon {
        font-size: 14px;
    }

    .buyPackageRightCardTitle {
        padding-right: 0px;
        font-size: 10px;
        font-weight: 400;
        line-height: 26px;
    }

    .buyPackageRightCardTitle span {
        font-size: 12px;
        font-weight: 700;
    }

    .countercontainer {
        margin-right: auto !important;
        margin-left: 0px;
        width: fit-content;
        margin-top: 19px;
    }

    .countCard {
        width: 48px !important;
        height: 28px;
        font-size: 12px;
        font-weight: 400;
        margin-left: 0px;
        margin-right: 0px;
    }

    .buyPackageRightCard {
        padding: 0px 0px 50px 0px;
    }

    .buyPackageLeftCardTitle {
        width: 172px;
        height: 149px;
        font-size: 16px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 39px;
    }

    .buyPackLeftCardTitleText {
        padding-right: 0px;
    }

    .buyPackageLeftCardTitle span {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.8px;
    }

    .buyPackageCard {
        flex-direction: column;
    }

    .select {
        min-width: 224px;
        width: fit-content;
        height: 31px;
        margin-left: auto;
        margin-right: auto;
    }

    .selectItem {
        font-size: 13px;
        height: 25px !important;
    }

    .modalCard {
        min-width: 0px;
        padding: 48px 36px 48px 26px;
        min-height: none;
        height: fit-content;
    }

    .closeModalButton {
        font-size: 30px;
    }

    .packagesContainer {
        flex-direction: column;
    }

    .wallet {
        flex-direction: column;
    }

    .leftNavBardCard {
        width: 100%;
        height: 45px;
        flex-direction: row-reverse;
        align-items: center;
    }

    .menuButton {
        margin-right: auto;
        margin-left: 15px;
        font-size: 25px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .tokenCard {
        background: linear-gradient(180deg, #2E4057 0.14%, #626E7E 100.14%);
        filter: drop-shadow(3px 8px 60px rgba(0, 82, 147, 0.23));
        height: 20vh;
        padding-left: 40px;
        padding-right: 20px;
        font-size: 24px;
        font-weight: 600;
    }

    .tokenCard span {
        margin-left: 0px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
    }

    .addTokenButton {
        margin-right: auto;
        margin-left: 0px;
        margin-top: 16px;
        width: 78px;
        height: 20.893px !important;
        font-size: 9.286px;
        font-weight: 500;
        padding: 0px;
        min-height: 20.893px !important;
        border-radius: 3px !important;
    }

    .plusIcon {
        font-size: 13px;
    }

    .responsiveLogo {
        display: flex;
        margin-right: auto;
    }

    .mainContainer {
        padding: 21px 10px 0px 17px;
    }

    .tabaleTitleCard {
        display: none;
    }

    .tableContent {
        padding: 0px 14px 0px 0px;
    }

    .tableContent::-webkit-scrollbar {
        width: 6px;
    }

    .tableContent::-webkit-scrollbar-thumb {
        width: 6px;
    }

    .transactionTable {
        height: 70vh;
    }

}