.walletContainer {
    height: 100vh !important;
    overflow: hidden !important;
    overflow-x: hidden !important;
    background-image: url('/dashboard/wallet-background.svg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 113px 20px 118px;

}

.title {
    color: #252525;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tokenCard {
    height: 204px;
    width: 462px;
    flex-shrink: 0;
    border-radius: 12px;
    background: linear-gradient(180deg, #2E4057 0%, #626E7E 100%);
    box-shadow: 3px 8px 60px -5px rgba(0, 82, 147, 0.23);
    margin-top: 30px;
    color: #F3F3F3;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tokenCard span {
    color: #F3F3F3;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
}

.addTokenButton {
    background-color: #2E4057 !important;
    width: 88.785px !important;
    height: 88.785px !important;
    border-radius: 100% !important;
    padding: 0px !important;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: -30px;
    right: -30px;
}

.plusIcon {
    font-size: 55px;
}

.transactionTable {
    margin-top: 89px;
    border-radius: 8px;
    border: 2px solid rgba(98, 110, 126, 0.25);
    background: #F3F3F3;
    backdrop-filter: blur(17px);
    width: 100%;
    height: 48vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 86px 0px 0px 0px;
    box-shadow: 2px -1px 37px 4px rgba(178, 178, 178, 0.53);
    -webkit-box-shadow: 2px -1px 37px 4px rgba(178, 178, 178, 0.53);
    -moz-box-shadow: 2px -1px 37px 4px rgba(178, 178, 178, 0.53);

}

.tabaleTitleCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #252525;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0px 65px 15px 65px;
    text-align: center;
}

.tabaleTitleCard span {
    /* padding-left: 8%; */
}

.tableContent {
    overflow-y: auto;
    width: 100%;
    flex: 1;
    text-align: center;
    padding: 0px 65px;
}

.transactionCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px !important;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
}

.positiveTransactionCard {
    background: radial-gradient(239.71% 140.05% at 0.9% 2.98%, rgba(46, 64, 87, 0.72) 0%, rgba(46, 64, 87, 0.80) 35.37%, rgba(46, 64, 87, 0.91) 66.98%, rgba(46, 64, 87, 0.94) 85.73%, #2E4057 97.98%);
    stroke-width: 2px;
    stroke: rgba(250, 255, 252, 0.00);
    backdrop-filter: blur(21px);
    color: #F3F3F3;
}

.negativeTransactionCard {
    border: 2px solid rgba(114, 123, 139, 0.00);
    background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(145, 154, 165, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(21px);
    color: #252525;
}

.transactionCard span {
    /* padding-left: 8%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tableContent::-webkit-scrollbar {
    /* display: none; */
    width: 12px;
    background-color: #F3F3F3;
    border-radius: 33px;
}

.tableContent::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: #12263E;
    border-radius: 33px;
}

.plusCard {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 18px;
    color: #2E4057;
    padding: auto;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minusCard {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 18px;
    color: #F3F3F3;
    padding: auto;
    background-color: #2E4057;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalCard {
    min-width: 1700px;
    width: 100% !important;
    border-radius: 8px !important;
}