.buyPackageLeftCardTitle {
    box-shadow: -8px 2px 14px -4px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: -8px 2px 14px -4px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -8px 2px 14px -4px rgba(0, 0, 0, 0.54);
}

.tableContent::-webkit-scrollbar {
    width: 12px;
    background-color: var(--color-background);
    border-radius: 33px;
}

.tableContent::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: var(--color-navyBlue);
    border-radius: 33px;
}

@media(max-width: 500px) {
    .transactionTable ::-webkit-scrollbar {
        width: 4px !important;
        background-color: transparent !important;
        border-radius: 33px;
    }

    .transactionTable ::-webkit-scrollbar-thumb {
        width: 4px !important;
        background-color: var(--color-gray);
        border-radius: 33px;
    }
}

@media(max-height: 750px) {
    .tableContent {
        max-height: 64vh !important;
    }
}