.profile {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.profileContainer {
    height: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: scroll;
    background-image: url('/profile/background.svg');
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.profileHeader {
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    height: 15px;
    width: 133px;
}

.backcard {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30px;
    left: 40px;
    align-items: center;
    color: var(--color-seccondary);
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none !important;
}

.leftNavBardCard {
    height: 100% !important;
    width: 103px;
    background-color: var(--color-seccondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navBarLogo {
    margin-top: 47px;
}

.backButton {
    border-radius: 8px;
    background: var(--color-gray);
    padding: 0px;
    width: 52px;
    height: 54px;
    flex-shrink: 0;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    color: var(--color-whiteText);
    font-size: 30px;
}

.menuButton {
    margin-top: auto;
    font-size: 40px;
    color: var(--color-whiteText);
    margin-bottom: 30px;
    padding: 0px;
}

.logOutButton {
    position: absolute;
    top: 30px;
    left: 40px;
    align-items: center;
    background-color: var(--color-blue);
    border-radius: 8px;
    color: var(--color-whiteText);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 11px 30px !important;
}

.NavBaresponsiveLogo {
    display: none;
}

.exitIcon {
    margin-right: 16px;
    font-size: 26px;
}

.profileCard {
    height: 207px;
    width: 207px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-seccondary);
    overflow: hidden;
    margin: 0px 36px;
}

.profilePictureContainer {
    display: flex;
    flex-direction: row;
    margin-top: 57px;
    align-items: flex-end;
}

.leftDivider {
    width: 77px;
    height: 3px;
    background: linear-gradient(1deg, #2E4057 0%, rgba(46, 64, 87, 0.36) 100%);
    margin-bottom: 63px;
}

.rightDivider {
    height: 3px;
    background: linear-gradient(1deg, rgba(46, 64, 87, 0.36) 0%, #2E4057 100%);
    margin-bottom: 63px;
    flex: 1;
}

.profilePageContent {
    flex: 1;
}

.userInformationCard {
    flex: 1;
    margin: 73px 45px;
    border-radius: 8px;
    border: 1px solid #FFF;
    box-shadow: -5px 8px 23px -5px rgba(0, 0, 0, 0.14);
    position: relative;
    padding: 86px 0px 54px 52px;
}

.userName {
    color: var(--color-seccondary);
    font-size: 36px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: -0.18px;
}

.joinDate {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: -0.16px;
    margin-top: 45px;
}

.age {
    color: var(--color-seccondary);
    font-size: 36px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: -0.18px;
    margin-top: 85px;
}

.gender {
    color: var(--color-seccondary);
    font-size: 36px;
    font-weight: 600;
    line-height: 12px;
    margin-top: 45px;
    letter-spacing: -0.18px;
}

.editButton {
    height: 120px;
    width: 120px;
    border-radius: 100% !important;
    border-radius: 127.373px;
    background: linear-gradient(210deg, rgb(46, 64, 87) 0%, rgb(218, 40, 46) 100%);
    position: absolute;
    right: -50px;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px !important;
}

.editUserJoinDate {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: -0.16px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.input input {
    height: 62px;
    width: 360px;
    border-radius: 8px !important;
    border: 1px solid rgba(46, 64, 87, 0.64);
    background: var(--color-background) !important;
    box-shadow: 3px 2px 11px -2px rgba(0, 0, 0, 0.10);
    color: var(--card-f, #2E4057);
    font-size: 24px;
    font-weight: 400;
    line-height: 12px;
}

.input input::placeholder {
    color: var(--color-seccondary) !important;
}

.select {
    margin-top: 30px !important;
    border-radius: 8px !important;
    width: 360px !important;
    height: 62px !important;
    background: var(--color-backgroun) !important;
    box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.10) !important;
}

.checkIcon {
    font-size: 90px;
    color: var(--color-whiteText);
}

.closeButton {
    position: absolute;
    right: 92px;
    bottom: -50px;
    padding: 0px !important;
    border-radius: 100% !important;
}

.username {
    color: var(--color-seccondary);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    margin-top: 40px;
}

.editIcon {
    color: #FFF;
    font-size: 60px;
}

.closeIcon {
    height: 68px;
    width: 68px;
}

.responsiveLogOutButton {
    display: none;
}

@media(max-width: 1680px) {}

@media(max-width: 1440px) {
    .profileCard {
        height: 180px;
        width: 180px;
    }

    .userName {
        font-size: 24px;
    }

    .joinDate {
        font-size: 18px;
        margin-top: 30px;
    }

    .editUserJoinDate {
        font-size: 18px;
    }

    .age {
        font-size: 24px;
        margin-top: 70px;
    }

    .gender {
        font-size: 24px;
    }

    .username {
        font-size: 18px;
    }

    .leftNavBardCard {
        width: 80px;
    }

    .logOutButton {
        padding: 7px 20px !important;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }

    .editIcon {
        font-size: 43px;
    }

    .editButton {
        height: 90px;
        width: 90px;
        right: -40px;
        bottom: -40px;
        background: linear-gradient(210deg, rgb(46, 64, 87) 0%, rgb(218, 40, 46) 100%) !important;
    }

    .select {
        height: 46px !important;
    }

    .checkIcon {
        font-size: 55px;
    }

    .input input {
        font-size: 17px !important;
        font-weight: 500;
        line-height: 12px;
    }

    .input input::placeholder {
        font-size: 16px !important;
    }

    .closeButton {
        right: 60px;
    }

}

@media(max-width: 500px) {
    .profile {
        flex-direction: column;
        height: fit-content !important;
    }

    .profileHeader {
        display: none;
    }

    .profileCard {
        height: 130px;
        width: 130px;
        margin: 0px 8px;
    }

    .profilePageContent {
        padding: 62px 23px;
    }

    .profilePictureContainer {
        margin-top: 0px;
        padding: 0px 25px;
    }

    .leftDivider {
        width: auto;
        flex: 1;
    }

    .userInformationCard {
        background: var(--color-background);
        background: linear-gradient(135deg, #FFFFFF, #F2F5FA);
        margin: 40px 0px 0px 0px;
        padding: 45px 10px 65px 32px;
    }

    .userName {
        font-size: 16px;
    }

    .closeIcon {
        height: 36px;
        width: 36px;
    }

    .joinDate {
        font-size: 13px;
        margin-top: 10px;
    }

    .age {
        font-size: 16px;
        margin-top: 18px;
    }

    .gender {
        font-size: 16px;
        margin-top: 18px;
    }

    .username {
        font-size: 13px;
        font-weight: 500;
        margin-top: 18px;
        line-height: normal;
        height: fit-content;
        overflow: hidden;
    }

    .editButton {
        height: 48px !important;
        width: 48px !important;
        right: 14px;
        bottom: -30px;
    }

    .editIcon {
        font-size: 30px;
    }

    .editUserJoinDate {
        font-size: 13px;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    .input input {
        height: 32px !important;
        width: 252px;
        font-size: 13px !important;
        font-weight: 500;
        line-height: 12px;
    }

    .input input::placeholder {
        font-size: 13px !important;
    }

    .select {
        height: 32px !important;
        width: 252px !important;
        margin-top: 13px !important;
    }

    .checkIcon {
        font-size: 30px;
    }

    .closeButton {
        right: 70px;
        bottom: -26px;
    }

    .backButton {
        display: none;
    }

    .leftNavBardCard {
        width: 100%;
        height: 45px !important;
        flex-direction: row-reverse;
        align-items: center;
    }

    .navBarLogo {
        display: none;
    }

    .menuButton {
        margin-right: auto;
        margin-left: 15px;
        font-size: 25px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .NavBaresponsiveLogo {
        display: flex;
        margin-right: auto;
    }

    .responsiveLogOutButton {
        display: flex;
        background-color: var(--color-gray);
        color: var(--color-whiteText);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        min-width: 110px;
        width: fit-content;
        height: 31px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        margin-right: auto;
        margin-left: 23px;
    }

    .exitIcon {
        margin-right: 5px;
        font-size: 20px;
    }
}