.dashboardContainer {
    display: flex;
    flex-direction: row;
    height: 100vh !important;
    overflow: hidden;
}

.dashboardLeftCard {
    background-color: var(--color-seccondary);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* .dashboardRightCard {} */

.logo {
    margin: 32px auto;
}

.tabsContainer {
    display: flex;
    flex-direction: column;
    border-top: solid 1px #626E7E;
    border-bottom: solid 1px #626E7E;
    padding-right: 11px;
}

.newEssayContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 18px 0px;
}

.newEssayButton {
    background-color: #626E7E;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #F3F3F3;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 8px 0px 13px;
    flex: 1;
    height: 52px !important;
    border-radius: 8px !important;
    padding: 16px 28px;
    display: flex;
}

.arrowLeftButton {
    height: 52px !important;
    width: 55px;
    background-color: #626E7E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plusIcon {
    margin-left: 10px;
    color: #F3F3F3;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.arrowIcon {
    color: #F3F3F3;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.taskTabsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    margin-top: 10px;
    align-items: flex-end;
}

.taskTabButton {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #626E7E;
    padding: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    width: 32%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeTaskTabButton {
    color: #F3F3F3;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 0px;
    background-color: #132740;
    line-height: normal;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px !important;
    width: 32%;
    border-bottom-right-radius: 0px !important;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawerFooterContainer {
    border-top: solid 1px #626E7E;
    display: flex;
    flex-direction: row;
    align-self: flex-end !important;
    height: 74px;
    padding-top: 2px;
}

.drawerContent {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.menuButton {
    height: 100%;
    border-radius: 0px !important;
    background-color: #132740;
    padding: 0px 0px !important;
    border-right: solid 1px #626E7E;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuIcon {
    color: #FFFFFF;
    font-size: 30px;
}

.drawerFooterText {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px;
}

.popOverCard {
    display: flex;
    flex-direction: column;
    background-color: #12263E;
    padding-bottom: 16px;
}

.menuItemCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 20PX 14PX;
    min-width: 210PX;
    text-decoration: none !important;
    cursor: pointer;
}

.menuItemCard span {
    margin-left: 18px;
}

.dashboardContentContainer {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: row;
    overflow-y: hidden;
    padding-right: 10px;
}

.leftTabBar {
    background-color: var(--color-seccondary);
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.briefLogo {
    height: 69px;
    width: 19px;
    margin: 12px 0px;
}

.leftTabBarButton {
    border-top: solid 1px #626E7E;
    display: flex;
    height: 74px;
    padding-top: 2px;
    margin-top: auto
}

.openDrawerButtonCard {
    border-top: solid 1px #626E7E;
    width: 100%;
    padding: 12px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.openDrawerButton {
    background-color: #626E7E;
    border-radius: 8px;
    height: 52px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topTabBarCard {
    height: 64px;
    display: flex;
    flex: 1;
    background-color: var(--color-seccondary);
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.dashboardContentRightContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    position: relative;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
}


.dashboardContentRightContainer::-webkit-scrollbar {
    /* display: none; */
    width: 12px;
    background-color: #D9D9D9;
    border-radius: 33px;
}

.dashboardContentRightContainer::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: #12263E;
    border-radius: 33px;
}

.topTabBarItemCard {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    padding: 0px 40px;
    border-radius: 8px;
    height: 64px !important;
}

.lockIcon {
    color: #FFF;
    margin-left: 5px;
}

.activeTopTabBarItemCard {
    background-color: #12263E !important;
}

.activeTopTabBarItemCard span {
    text-decoration: underline !important;
}

.topTabBarContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 16px;
    padding: 30px 95px 0px 90px;
    height: 100px !important;
    width: 100% !important;
    overflow: hidden;
}

.topTabBarContainerAnimation {
    width: 100% !important;
    display: flex;
    padding: 30px 95px 0px 90px;
    position: absolute;
    animation-name: example;
    animation-duration: 1s;
    flex-direction: column;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.essayContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 100px;
}

@keyframes example {
    from {
        top: 16px;
    }

    to {
        top: 810px;
    }
}

.topResponsiveTabBar {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-seccondary);
    width: 100%;
    height: 45px;
}

.responsiveLogo {
    height: 17px !important;
    width: 175px !important;
}

.responsiveMenuButton {
    padding: 0px 10px !important;
}

.responsiveMenuIcon {
    color: var(--color-whiteText);
    font-size: 25px;
}

.responsivePlusButton {
    padding: 0px;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background-color: #626E7E;
}

.responsivePlusIcon {
    color: #FFF;
    font-size: 24px;
}

.moreIcon {
    color: #F3F3F3;
    font-size: 25px;
    display: none;
}

.mask {
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
    mask-image: linear-gradient(to bottom, transparent 5%, black 100%);
}

@media(max-width: 1500px) {
    .topTabBarContainer {
        padding: 30px 60px 0px 55px;
    }

    .topTabBarContainerAnimation {
        padding: 30px 60px 0px 55px;
    }

    .topTabBarItemCard {
        font-size: 16px;
        padding: 0px 15px;
    }

    .newEssayButton {
        font-size: 20px;
    }

    .taskTabButton {
        font-size: 16px;
    }

    .activeTaskTabButton {
        font-size: 16px;
    }

    .logo {
        margin: 22px auto;
    }
}

@media(max-width: 500px) {
    .dashboardContentContainer {
        flex-direction: column;
        padding-right: 0px;
    }

    .openDrawerButtonCard {
        display: none;
    }

    .leftTabBarButton {
        display: none;
    }

    .briefLogo {
        display: none;
    }

    /* .leftTabBar {
        display: none;
    } */

    .topResponsiveTabBar {
        display: flex;
    }

    .topTabBarContainer {
        display: none;
        height: 0px !important;
    }

    .topTabBarContainerAnimation {
        display: none;
        height: 0px !important;
    }

    .topTabBarCard {
        display: none;
    }

    .essayContainer {
        padding-bottom: 0px;
    }

    .dashboardContentRightContainer {
        padding-top: 0px !important;
    }

    .dashboardContentRightContainer::-webkit-scrollbar {
        /* display: none; */
        width: 6px;
        background-color: var(--color-background);
        border-radius: 33px;
    }

    .dashboardContentRightContainer::-webkit-scrollbar-thumb {
        width: 6px;
        background-color: #626E7E;
        border-radius: 33px;
    }

    .logo {
        display: none;
    }

    .arrowLeftButton {
        background-color: #F3F3F3;
        height: 50px !important;
        width: 36px;
    }

    .arrowIcon {
        color: var(--color-seccondary);
    }

    .newEssayButton {
        background-color: #132740;
        justify-content: space-between;
        font-size: 16px;
        height: 40px;
    }

    .taskTabButton {
        height: 30px;
        font-size: 13px;
    }

    .activeTaskTabButton {
        height: 30px;
        font-size: 13px;
    }

    .newEssayContainer {
        padding: 10px 0px 10px 0px;
    }


    .drawerFooterContainer {
        height: 42px;
    }

    .menuButton {
        background-color: transparent;
        width: 40px;
    }

    .menuIcon {
        display: none;
    }

    .moreIcon {
        display: flex;
    }

    .menuItemCard {
        font-size: 16px;
        padding: 17PX 15PX;
    }
}