.dashboardContainer {
    display: flex;
    flex-direction: row;
    height: 100vh !important;
    overflow: hidden;
}

.dashboardLeftCard {
    background-color: var(--color-seccondary);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dashboardRightCard {}

.logo {
    margin: 28px auto;
}

.tabsContainer {
    display: flex;
    flex-direction: column;
    border-top: solid 1px #626E7E;
    border-bottom: solid 1px #626E7E;
    padding-top: 5px;
    padding-right: 8px;
}

.newEssayContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.newEssayButton {
    background-color: #626E7E;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #F3F3F3;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 8px 0px 5px;
    flex: 1;
    height: 52px !important;
}

.arrowLeftButton {
    height: 52px !important;
    background-color: #626E7E;
    display: flex;
    align-items: center;
}

.plusIcon {
    margin-left: 10px;
    color: #F3F3F3;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.arrowIcon {
    color: #F3F3F3;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.taskTabsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    margin-top: 10px;
    align-items: end;
}

.taskTabButton {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #626E7E;
    padding: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    width: 32%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeTaskTabButton {
    color: #F3F3F3;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 0px;
    background-color: #132740;
    line-height: normal;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px !important;
    width: 32%;
    border-bottom-right-radius: 0px !important;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawerFooterContainer {
    border-top: solid 1px #626E7E;
    display: flex;
    flex-direction: row;
    align-self: flex-end !important;
    height: 74px;
    padding-top: 2px;
}

.drawerContent {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.menuButton {
    height: 100%;
    border-radius: 0px !important;
    background-color: #132740;
    padding: 0px 0px !important;
    border-right: solid 1px #626E7E;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuIcon {
    color: #FFFFFF;
    font-size: 30px;
}

.drawerFooterText {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px;
}

.popOverCard {
    display: flex;
    flex-direction: column;
    background-color: #12263E;
    padding-bottom: 16px;
}

.menuItemCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 20PX 14PX;
    min-width: 210PX;
    text-decoration: none !important;
    cursor: pointer;
}

.menuItemCard span {
    margin-left: 18px;
}

.tasksContainer {
    height: 98%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

.tasksContainer::-webkit-scrollbar {
    /* display: none; */
    width: 13px;
    background-color: #D9D9D9;
    border-radius: 33px;
}

.tasksContainer::-webkit-scrollbar-thumb {
    width: 13px;
    background-color: #12263E;
    border-radius: 33px;
}

.taskCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #626E7E;
    padding: 30px 33px 22px 18px;
    cursor: pointer;
}

.taskCardTitle {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

.taskCardTitle span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin-top: 15px;
}

.taskCardScore {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
}

.dashboardContentContainer {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: row;
    overflow-y: hidden;
    padding-right: 10px;
}

.leftTabBar {
    background-color: var(--color-seccondary);
    width: 80px;
    height: 100% !important;
    display: flex;
}

.leftTabBarButton {
    border-top: solid 1px #626E7E;
    display: flex;
    height: 74px;
    padding-top: 2px;
    margin-top: auto
}

.topTabBarCard {
    height: 96px;
    display: flex;
    flex: 1;
    background-color: var(--color-seccondary);
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.dashboardContentRightContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    position: relative;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
}


.dashboardContentRightContainer::-webkit-scrollbar {
    /* display: none; */
    width: 13px;
    background-color: #D9D9D9;
    border-radius: 33px;
}

.dashboardContentRightContainer::-webkit-scrollbar-thumb {
    width: 13px;
    background-color: #12263E;
    border-radius: 33px;
}

.topTabBarItemCard {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    padding: 0px 40px;
    border-radius: 8px;
    height: 96px !important;
}

.lockIcon {
    color: #FFF;
    margin-left: 5px;
}

.activeTopTabBarItemCard {
    background-color: #12263E !important;
}

.activeTopTabBarItemCard span {
    text-decoration: underline !important;
}

.topTabBarContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 16px;
    padding: 0px 50px 0px 24px;
    height: 96px !important;
    width: 100% !important;
}

.topTabBarContainerAnimation {
    width: 100% !important;
    display: flex;
    padding: 0px 50px 0px 24px;
    position: absolute;
    animation-name: example;
    animation-duration: 1s;
    flex-direction: column;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {
        top: 16px;
    }

    to {
        top: 90%;
    }
}

@media(max-width: 1440px) {

    .newEssayButton {
        font-size: 22px;
    }

    .taskTabButton {
        font-size: 18px;
    }

    .activeTaskTabButton {
        font-size: 18px;
    }

    .menuItemCard span {
        font-size: 17px;
    }

    .menuItemCard {
        font-size: 22px;
    }

    .topTabBarItemCard {

        font-size: 18px;
        padding: 0px 15px;
    }
}

@media(max-width: 992px) {
    .newEssayButton {
        font-size: 22px;
    }

    .taskTabButton {
        font-size: 18px;
    }

    .activeTaskTabButton {
        font-size: 18px;
    }

    .menuItemCard span {
        font-size: 17px;
    }

    .menuItemCard {
        font-size: 22px;
    }

    .topTabBarItemCard {

        font-size: 18px;
        padding: 0px 15px;
    }
}