.dashboardContainer {
    display: flex;
    flex-direction: row;
    height: 100vh !important;
    overflow: hidden;
}

.dashboardLeftCard {
    background-color: var(--color-seccondary);
    display: flex;
    flex-direction: column;
}

.dashboardRightCard {}

.logo {
    margin: 28px auto;
}

.tabsContainer {
    display: flex;
    flex-direction: column;
    border-top: solid 1px #626E7E;
    padding-top: 5px;
    padding-right: 8px;
}

.newEssayContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.newEssayButton {
    background-color: #626E7E;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #F3F3F3;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 8px 0px 5px;
    flex: 1;
    height: 52px !important;
}

.arrowLeftButton {
    height: 52px !important;
    background-color: #626E7E;
    display: flex;
    align-items: center;
}

.plusIcon {
    margin-left: 10px;
    color: #F3F3F3;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.arrowIcon {
    color: #F3F3F3;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}