.landingBackground {
    /* min-height: 100vh; */
    /* height: fit-content !important; */
    overflow: hidden !important;
    overflow-x: hidden !important;
    position: relative;
    background-image: url('/landing/section1-desktop-background.svg');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    z-index: 501;
}

.headerBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 1920px;
    height: 149px;
}

.headerShadow {
    position: absolute;
    top: -30px;
    left: 0px;
    right: 0px;
    z-index: -1 !important;
    width: 1920px;
    height: 153px;
}


@media(max-width: 1680px) {
    .headerBackground {
        top: 0px;
    }
}

@media(max-width: 1440px) {
    .headerBackground {
        top: 0px;
    }
}

@media(max-width: 992px) {
    .headerBackground {
        top: 0px;
    }
}

@media(max-width: 500px) {

    .headerBackground {
        display: none;
    }

    .headerShadow {
        display: none;
    }

    .landingBackground {
        min-height: fit-content;
        background-image: url('/landing/section1-mobile-background.svg');
    }
}