.landingBackground {
    min-height: 100vh;
    overflow: hidden !important;
    overflow-x: hidden !important;
    /* padding: 217px 75px 86px 83px; */
    position: relative;
}

.headerBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.headerShadow {
    position: absolute;
    top: -30px;
    left: 0px;
    right: 0px;
    z-index: -1 !important;
}

.topLeftBackground {
    height: 477px;
    width: 509px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1 !important;
}

.topLeft2Background {
    height: 326px;
    width: 360px;
    position: absolute;
    top: -500px;
    left: 70px;
    z-index: -1 !important;
}

.topLeft3Background {
    height: 326px;
    width: 360px;
    position: absolute;
    top: 100px;
    left: 80px;
    z-index: -1 !important;
}

.topBackground {
    height: 267px;
    width: 1719px;
    position: absolute;
    top: 0px;
    left: -164px;
    z-index: -1 !important;
}

.topCenterBackground {
    height: 491px;
    width: 576px;
    position: absolute;
    top: -40px;
    left: 400px;
    z-index: -1 !important;
    /* transform: rotate(39.59deg); */
}

.topCenter2Background {
    height: 491px;
    width: 576px;
    position: absolute;
    top: -60px;
    left: 630px;
    z-index: -1 !important;
    /* transform: rotate(29.59deg); */
}


.topRightBackground {
    height: 491px;
    width: 576px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1 !important;
    /* filter: blur(85px); */
    /* transform: rotate(41.59deg); */
}

.leftCenterBackground {
    height: 377px;
    width: 328px;
    position: absolute;
    top: 340px;
    left: -30px;
    z-index: -1 !important;
}

.leftCenter2Background {
    height: 377px;
    width: 377px;
    position: absolute;
    top: 230px;
    left: -30px;
    z-index: -1 !important;
}

.leftBottomBackground {
    height: 350px;
    width: 377px;
    position: absolute;
    top: 540px;
    left: -30px;
    z-index: -1 !important;
}

@media(max-width: 1440px) {
    .headerBackground {
        top: 0px;
    }
}

@media(max-width: 992px) {
    .headerBackground {
        top: 0px;
    }
}

@media(max-width: 480px) {

    .headerBackground {
        display: none;
    }

    .headerShadow {
        display: none;
    }

    .landingBackground {
        background: #F4DEDF;
        background: linear-gradient(90deg, #F4DEDF, #DBE8F2);
        min-height: fit-content;
    }

    .topLeftBackground {
        display: none;
    }

    .topLeft2Background {
        display: none;
    }

    .topLeft3Background {
        display: none;
    }

    .topBackground {
        display: none;
    }

    .topCenterBackground {
        display: none;
    }

    .topCenter2Background {
        display: none;
    }


    .topRightBackground {
        display: none;
    }

    .leftCenterBackground {
        display: none;
    }

    .leftCenter2Background {
        display: none;
    }

    .leftBottomBackground {
        display: none;
    }
}