.profileCard {
    width: 961px;
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 45px 73px 8px 38px;
    display: flex;
    flex-direction: column;
    color: var(--color-blackText);
    font-style: normal;
    font-family: var(--font-lato);
    min-height: 540px;
}

.profileCard tr {
    display: flex;
    flex-direction: row;
    padding: 32px 0px;
    align-items: center;
    font-size: 24px;
    letter-spacing: -0.12px;
    font-weight: 700;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

.profileCard span {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    align-items: center;
    width: 140px !important;
}

.locationIcon {
    width: 20px;
    margin-right: 16px;
    height: 29px;
}

.profileItemsIcon {
    margin-right: 16px;
    font-size: 25px;
}

.deleteAcButton,
.editButton {
    color: var(--color-seccondary);
    font-family: var(--font-lato);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-right: 41px;
    padding: 22px 0px 0px 26px !important;
}

.deleteAcButton:hover,
.editButton:hover {
    text-decoration: underline !important;
    box-shadow: none !important;
}

.okButton {
    margin-left: auto;
    padding: 0px 16px !important;
    margin-top: auto;
    background-color: var(--color-seccondary) !important;
    color: var(--color-whiteText);
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.arrowLeftIcon {
    font-size: 40px;
}

.profileFieldinput {
    background: linear-gradient(to right, rgba(46, 64, 87, 0.64), #F3F3F3) border-box !important;
    border-radius: 8px;
    width: fit-content !important;
    /* margin-left: 35px; */
    border: 1px solid transparent !important;
}

.profileFieldinput input {
    width: 350px !important;
    height: 62px !important;
    flex-shrink: 0;
    border-radius: 8px !important;
    background: var(--color-background) !important;
    box-shadow: 3px 2px 11px -2px rgba(0, 0, 0, 0.10) !important;
    margin-left: 0px !important;
    color: var(--color-blackText) !important;
    font-family: var(--font-lato) !important;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 12px !important;
    letter-spacing: -0.12px !important;
    border: none !important;
}

.profileFieldinput input::placeholder {
    opacity: 0.5 !important;
}

.profileFieldinput input:focus {
    background-color: var(--color-background) !important;
    border: none !important;
}

.saveButton {
    width: 88px;
    height: 42px;
    padding: 0px !important;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--color-seccondary);
}

.genderSelect {
    height: 62px;
    width: 350px;
    display: flex;
    flex-direction: row;
    border-radius: 9.742px;
    border: 1.218px solid var(--color-primary);
    background: var(--color-background);
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 0px 20px !important;
    color: var(--color-primary);
    font-family: var(--font-lato);
    font-size: 24.354px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
}

.genderSelect span {
    margin-right: auto;
    width: 100% !important;
    height: 100%;
    font-family: var(--font-lato);
    font-size: 24.354px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.arrowIcon {
    font-size: 30px;
    cursor: pointer;
    margin-right: 16px;
}

.genderSelectItemsCard {
    max-height: 200px;
    background-color: var(--color-background);
    z-index: 2;
    border-radius: 10px;
    position: absolute;
    top: 65px;
    width: 100%;
    left: 0px;
    right: 0px;
    box-shadow: -5px 15px 22px -5px rgba(0, 0, 0, 0.19);
}

.menuItem {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuItem:hover {
    background-color: var(--color-darkGray) !important;
    color: var(--color-whiteText) !important;
}


@media(max-width: 500px) {
    .emailText {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }

    .emailText span {
        margin-bottom: 10px;
    }

    .profileCard {
        width: 85%;
        margin: auto !important;
        position: relative;
        padding: 87px 10px 20px 22px;

    }

    .profileCard tr {
        padding: 21px 0px;
        font-size: 16.183px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.081px;

    }

    .profileCard tr span {
        font-weight: 400;
    }

    .profileCard span {
        width: 100px !important;
        max-width: 100px !important;
    }

    .profileItemsIcon {
        font-size: 18px;
        margin-right: 10px;
    }

    .locationIcon {
        margin-right: 10px;
        width: 13px;
        height: 19px;
    }

    .okButton {
        position: absolute;
        right: 12px;
        top: 12px;
        font-size: 16.183px;
        font-weight: 600;
        padding: 0px 8px !important;
        border-radius: 5px !important;
    }

    .arrowLeftIcon {
        font-size: 30px;
    }

    .deleteAcButton,
    .editButton {
        font-size: 16px;
        font-weight: 300;
        line-height: 18.88px;
        margin-right: 0px;
        padding: 22px 20px 0px 0px !important;
    }

    .editButton {
        text-decoration: underline;
    }

    .profileFieldinput {
        width: 164px !important;
        height: 35px !important;
    }

    .profileFieldinput input {
        width: 164px !important;
        height: 35px !important;
        font-size: 16px !important;
        font-weight: 700 !important;
        line-height: 6.706px !important;
        letter-spacing: -0.08px !important;
    }

    .genderSelect {
        width: 164px !important;
        height: 35px !important;
        border-radius: 4px !important;
        padding: 0px 5px 0px 10px !important;
        white-space: nowrap;
    }

    .genderSelect span {
        font-size: 16px !important;
        font-weight: 700 !important;
    }

    .arrowIcon {
        font-size: 25px;
        margin-right: 0px;
    }

    .genderSelectItemsCard {
        top: 35px;
    }

    .menuItem {
        font-size: 16px;
        font-weight: 700;
    }

    .saveButton {
        width: 59.164px;
        height: 28.237px;
        border-radius: 5px !important;
        font-size: 16.136px;
        font-weight: 500;
    }

}