.profileCard {
    width: 961px;
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 45px 73px 8px 38px;
    display: flex;
    flex-direction: column;
    color: var(--color-blackText);
    font-style: normal;
    font-family: var(--font-lato);
    min-height: 540px;
}

.profileCard tr {
    display: flex;
    flex-direction: row;
    padding: 32px 0px;
    align-items: center;
    font-size: 24px;
    letter-spacing: -0.12px;
    line-height: 12px;
    font-weight: 700;
}

.profileCard span {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    align-items: center;
    width: 140px !important;
}

.locationIcon {
    width: 20px;
    margin-right: 16px;
    height: 29px;
}

.profileItemsIcon {
    margin-right: 16px;
    font-size: 25px;
}

.deleteAcButton,
.editButton {
    color: var(--color-seccondary);
    font-family: var(--font-lato);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-right: 41px;
    padding: 22px 0px 0px 26px !important;
}

.deleteAcButton:hover,
.editButton:hover {
    text-decoration: underline !important;
    box-shadow: none !important;
}

.okButton {
    margin-left: auto;
    padding: 0px 16px !important;
    margin-top: auto;
    background-color: var(--color-seccondary);
    color: var(--color-whiteText);
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.arrowLeftIcon {
    font-size: 40px;
}

.profileFieldinput {
    background: linear-gradient(to right, rgba(46, 64, 87, 0.64), #F3F3F3) border-box !important;
    border-radius: 8px;
    width: fit-content;
    /* margin-left: 35px; */
    border: 1px solid transparent;
}

.profileFieldinput input {
    width: 340px !important;
    height: 62px !important;
    flex-shrink: 0;
    border-radius: 8px !important;
    background: var(--color-background) !important;
    border: none !important;
    box-shadow: 3px 2px 11px -2px rgba(0, 0, 0, 0.10) !important;
    margin-left: 0px !important;
    color: var(--color-blackText) !important;
    font-family: var(--font-lato) !important;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 12px !important;
    letter-spacing: -0.12px !important;
}

.profileFieldinput input::placeholder {
    opacity: 0.5 !important;
}

.profileFieldinput input:focus {
    background-color: var(--color-background) !important;
    border: none !important;
}

.saveButton {
    width: 88px;
    height: 42px;
    padding: 0px !important;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--color-seccondary);
}