.sliderCard {
    background-color: var(--color-seccondary);
    height: 180px;
    width: 180px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderProgress {
    height: 165px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
}

@media(max-width: 480px) {}