.sliderCard {
    background-color: var(--color-seccondary);
    height: 240px;
    width: 240px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderProgress {
    height: 225px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-whiteText);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
}

.sliderProgress span {
    background-color: #3E4E63;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media(max-width: 500px) {
    .sliderCard {
        height: 155px;
        width: 155px;
    }

    .sliderProgress {
        height: 140px !important;
        width: 140px !important;
        font-size: 36px;
    }

    .sliderProgress span {
        height: 70px;
        width: 70px;
    }
}